#chat_inbox_btn {
	webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}
#chat_inbox_btn:hover {
	cursor: pointer;
	background-color: #5da5d8;
}


#chat_inbox {
	// z-index: 99999999;
	position: fixed;
	top:60px;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);

	#hide_chat_inbox_btn {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 16px;

		&:hover {
			cursor: pointer;
		}
	}

	.chat-inbox-tab {
		background: #ffffff;
		height: 35px;

		li {
			margin: 0;
			border: 0;
			padding: 0;
			a {
				border: 0;
				border-radius: 0;
				font-size: 16px;
				padding: 5px 0px 0px;
				color: #1d1b1b;
				span {
					height: 29px;
					display: inline-block;
				}
			}

			a:hover {
				font-weight: bold;
				cursor: pointer;
				background: #ffffff;
				color: #5da5d8;
			}

			&.chat-dicussions-btn {
				text-align: left;
				a {
					span {
						padding-left: 5px;
					}
				}

			}

			&.chat-private-btn {
				text-align: right;
				a {
					span {
						padding-right: 6px;
					}
				}
			}
		}

		li:hover {
			background: #ffffff;
			border: none;
		}

		li.active {
			font-weight: bold;
			cursor: pointer;
			background: #ffffff;
			color: #5da5d8;

			a {
				span {
					color: #5da5d8;
					border-bottom: solid 2px #5da5d8;
				}
			}
		}
	}

	.chat-inbox-content {
		background: #ffffff;

		.chat-post-id {
			position: relative;
			height: 40px;

			.time-chat-inbox {
				position: absolute;
				top: 3px;
				right: 40px;
				color: #1d1b1b;
				font-size: 12px;
			}

			.notify-chat-inbox{
				position: absolute;
				right: 110px;
				background: #f95e65;
				width: 18px;
				border-radius: 20px;
				text-align: center;
				height: 18px;
				font-family: "ProximaNovaSemibold";
				color: #fff;
				font-size: 10px;
				padding-top: 2px;
				top: 2px;
			}

			.disable{
				display: none;
			}

			.fa-angle-right {
				position: absolute;
				top: 50%;
				right: 5px;
				transform: translateY(-50%);
				color: #1B1B1B;
			}

			.title-description-user {
				width: 225px;
				display: inline-block;
				margin-left: 4px;

				.title-chat-inbox {
					font-size: 16px;
					font-weight: bold;
					max-width: 145px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					color: #1d1b1b;
				}

				.title-chat-inbox::before {
					content: "#";
				}

				.description-chat-inbox {
					min-width: 220px;
					overflow:hidden;
					white-space:nowrap;
					text-overflow: ellipsis;
					color: #1d1b1b;
					font-size: 13px;
				}

				.match-description{
				    font-size: 13px;
					font-family: "ProximaNovaBold";
					color: #f95e65;
					.matched-date{
						background: #f95e65;
						color: #fff;
						padding: 0 5px;
						border-radius: 2px;
					}
				}
			}

			.avatar-user {
				width: 40px;
				height: 40px;
				border: 1px solid #d8d8d8;
				border-radius: 2px;
				display: inline-block;
				vertical-align: top;
				line-height: 36px;
				text-align: center;
				.img_avatar {
					max-width: 100%;
					height: auto;
					max-height: 100%;
				}
			}

		}

		#container_ul_chat_list {
			ul {
				margin: 0;
				padding: 0;
				overflow: hidden;
				margin-bottom: 30px;
				li {
					list-style-type: none;
					padding: 10px;
					border-bottom: 1px solid #cccccc;
				}

				li:hover {
					cursor: pointer;
					background-color: #fafafa;
					.title-description-user {
						.title-chat-inbox {
							cursor: pointer;
							color: #5da5d8;
						}
					}
				}
			}
		}


	}
}


.responsive-chat-inbox {
	right: 320px;
}

#Chat-inbox,
#Chat {
	.navigation-wrapper {
		top: 40%;
		right: 0;
		width: auto;
		.box-navigation {
			.btn-group {
				margin-left: 0;
				.btn {
					border-bottom: 1px solid #fff;
					border-top: none;
					border-left: none;
					border-right: none;
					margin-botton: 1px;
					margin-left: 0;
					margin-right: 0;
					display: block;
					float: none;
					&:first-child:not(:last-child):not(.dropdown-toggle) {
						border-bottom-left-radius: 0;
					}
					&:last-child:not(:first-child){
						border-radius: 0 0 0 4px;
					}
				}
				&:last-child:not(:first-child){
					.btn{
						&:first-child{
							border-radius: 0 0 0 4px;
						}
					}
				}
			}
		}
	}
}
