#confirmationBox{
    height: 100%;
    overflow: visible;
    display: none;
    margin: auto;
    .modal-dialog{
        top: 200px;
        width: 290px;
        margin: auto;
        border-radius: 5px;
        text-align: center;
        .modal-header{
            border: none;
            padding: 5px 10px;
        }
    }
}

.btn-inactive {
    display: inline-block;
    background: #5888AC;
}
.btn-active {
    position: absolute;
    opacity:0;
    background: #F95E64;
}

.glow-btn-wrapper {
    .btn-active {
        backface-visibility: hidden;
        animation-name: fadeInOut;
        animation-duration: 6s;
        animation-origin: 0 0;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        -webkit-animation-name: fadeInOut;
        -webkit-animation-duration: 6s;
        -webkit-animation-origin: 0 0;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
    }
    @-webkit-keyframes fadeInOut {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}