#ld_modal_landing_page{
    height: auto;
    overflow: visible;
    margin: 60px 0 0 0;
    .modal-dialog{
    	width: 725px;
	    // height: auto;
	    max-height: 525px;
	    // min-height: 250px;
	    margin: auto;
	    border-radius: 5px;
	    box-shadow: 1px 3px 5px 2px rgba(136,136,136,0.38);
    }
    .modal-content{
    	background-color: #f3f3f3;
    }
    .ld-modal-header{
        padding-top: 3px;
        width: 100%;
        height: 50px;
        background: #1d1b1b;
        text-align: center;
        border: none;
        display: block;

        .title{
        	font-family: "ProximaNovaRegular";
        	color: #fff;
	        .main-header{
	        	font-size: 130%;
	        	margin: 0;
	        	span{
	        		font-family: "ProximaNovaSemibold";
	        	}
	        }
	        .sub-header{
	        	font-size: 95%;
	        	margin-top: -5px;
	        }
	    }
    }
    .ld-modal-body{
    	padding: 0;
        height: auto;
        margin-bottom: 34px;
    	.top-header{
    		height: auto;
    		background-color: #cacaca;
            padding: 5px;
	    	.lp-title{
	    		font-family: "ProximaNovaBold";
	    		font-size: 100%;
                margin-bottom: 0;
	    	}
            .lp-description{
                font-size: 90%;
                color: #1d1b1b;
                margin-bottom: 0;
            }
	    }
    	.top-post{
            .top-post-content{
        		background-color: #fff;
    			.post-row{
    				border-bottom: 1px solid #e4e4e4;
    				padding: 10px 15px;
                    height: 74px;
    				.avatar{
                        width: 50px;
                        height: 50px;
                        max-width: 50px;
                        max-height: 50px;
                        float: left;
                        display: table;
                        position: relative;
                        border-radius: 2px;
                        border: 1px solid #898989;
                        background: #fff;
                        .image{
                            height: 50px;
                            width: 50px;
                            text-align: center;
                            vertical-align: middle;
                            display: table-cell;
                            img{
                                margin: auto;
                                max-width: 50px;
                                width: auto;
                                height: auto;
                                max-height: 50px;
                            }
                        }
                    }
    				.post{
    					width: 69%;
    					display: block;
    					margin: 0 0 0 15px;
    					float: left;
    					.post-title{
    						font-family: "ProximaNovaSemibold";
    						font-size: 100%;
    						color: #5888ac;
    						margin-bottom: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
    					}
    					.post-content{
    						font-family: "ProximaNovaRegular";
    						font-size: 75%;
                            line-height: 13px;
    						color: #1d1b1b;
                            .show_more{
                                color: #337ab7;
                                cursor: pointer;
                            }
    					}
    				}
                    .action{
                        float: right;
                        width: 50px;
                        text-align: center;
                        .brilliant{
                            font-family: "Verdana";
                            font-size: 75%;
                            color: #fff;
                            width: 36px;
                            height: 30px;
                            background: url('../../img/icon/brilliant-icon-medium.png') no-repeat;
                            background-size: 36px 30px;
                            display: block;
                            padding: 10px 0;
                            margin-left: 9px;
                            cursor: pointer;   
                        }
                        .chat{
                            color: #5888ac;
                            cursor: pointer;
                            text-align: right;
                            .fa{
                                margin-right: 5px;
                            }
                            &:hover{
                                color: #5da5d8;
                            }
                        }
                    }
    			}
                .last-row{
                    border: none;
                }
            }
    	}
    	.top-topic{
    		.top-topic-content{
    			.topic-row{
    				border-bottom: 1px solid #e4e4e4;
                    height: 30px;
                    padding: 0 15px;
                    background: #fff;
                    width: 100%;
                    &:hover{
                        .topic-title{
                            color: #5da5d8;
                        }
                        .arrow{
                            color: #5da5d8;
                        }
                    }
    				.topic-title{
    					font-size: 110%;
    					color: #1d1b1b;
    					width: 70%;
    					line-height: 30px;
    					float: left;
    					margin-bottom: 0;
                        cursor: pointer;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
    				}
                    
    				.post-counter{
    					padding-top: 5px;
                        width: auto;
                        float: right;
                        text-align: right;
                        color: #1d1b1b;
                        .fa{
                            margin-left: 5px;
                            float: right;
                            padding-top: 2px;
                        }
                        .arrow{
                            margin-left: 15px;
                            cursor: pointer;
                            float: right;
                        }
    				}
    			}
                .last-row{
                    border: none;
                }
    		}
    	}
    	.top-communities{
    		background-color: #fff;
    		.communities-row{
	    		border-bottom: 1px solid #e4e4e4;
                height: 50px;
                padding: 6px 15px;
                .com-content{
                    width: 90%;
                    float: left;
    	    		.zipcode{
    	    			font-family: "ProximaNovabold";
    					font-size: 110%;
    					color: #1d1b1b;
    					display: block;
    					margin-bottom: 0;
    	    		}
    	    		.subtext{
    	    			display: block;
                        color: #1d1b1b;
                        font-size: 100%;
    	    			margin-bottom: 0;
                        line-height: 14px;
                        span{
                            color: #5888ac;
                            &:before{
                                content: "#";
                            }
                        }
    	    		}
                }
                .arrow{
                    width: 2%;
                    float: right;
                    margin-left: 2px;
                    padding-top: 10px;
                }
	    	}
    	}
    }
    .ld-modal-footer{
        border-top: none;
        height: 34px;
        text-align: center;
        background: #5888ac;
        padding: 2px 0;
        width: 100%;
        display: block;
        bottom: 0;
        z-index: 20;
        padding-top: 2px;
        position: fixed;
        .landing-btn{
            font-size: 100%;
            border: 1px solid #fff;
            text-align: center;
            height: 30px;
            color: #fff;
            padding: 5px 10px;
            display: inline-block;
            width: auto;
            cursor: default;
            &:hover{
                background: #5da5d8;
            }
        }
    }
}