body{
  background: #f2f2f2;
  &.no-login{
    background: #fbfbfb !important;
  }
}
.wrap-mobile{
  width: 100%;
  overflow: auto;
  /*max-width: 786px;*/
  margin: auto;
  .mCustomScrollbar {
    .mCSB_inside > .mCSB_container{
      margin-right: 0;
    }
    .mCSB_scrollTools{
      width: 3px;
    }
  }
  .container{
    width: 100%;
    padding: 0;
  }
}

.navbar-mobile{
  /*height: 40px;*/
  background-color: #5888ac;
  // border-color: #426c8f;
  border-radius: 0;
  a{
    color:#eee;
  }
  .menu_top{
  	width: 100%;
  	height: 60px;
    padding: 0 15px;
    position: absolute;

    .logo_netwrk{
      width: 20%;
      height: auto;
      float: left;
      z-index: 1000;
      position: relative;
      img{
        width: 44px;
        height: 44px;
        margin: 8px 0;
      }
    }
    .chatting{
      float: right;
      padding: 0 10px;
      span{
        color: #fff;
        font-size: 20px;
        line-height: 60px;
        i{
          margin-right: 5px;
        }
      }
    }
  }
  .menu_bottom{
    width: 100%;
    height: 40px;
    position: relative;
    .left{
      position: absolute;
      top: 20%;
      left: 5%;
    }
    .right{
      /*float: right;*/
      position: absolute;
      top: 15%;
      right: 5%;
      color: #fff;
      font-size: 20px;
      .notify{
        font-family: "ProximaNovaRegular";
        font-size: 12px;
        padding-top: 2px;
        background: #f95e65;
        border-radius: 20px;
        border: 1px solid;
        margin-top: -3px;
        position: absolute;
        margin-left: -10px;
        text-align: center;
        width: 21px;
        height: 21px;
      }
      .disable{
        display: none;
      }
    }
	.chatting{
      float: right;
      padding: 0 10px;
      span{
        color: #fff;
        font-size: 20px;
        line-height: 60px;
        i{
          margin-right: 5px;
        }
      }
    }
  }
}
.box-navigation {
  position: fixed;
  left: 0px;
  top: 35%;
  z-index: 999;
  .navigation-btn-group {
    .btn {
      border: none;
      margin-bottom: 2px;
      .ci-meet {
        background:url("../../img/icon/meet_icon.png") no-repeat;
        background-size: contain;
        display:block;
        height:12px;
        width:15px;
        margin: 2px auto 0;
      }
    }
    .btn-default {
      color: #fff;
      background: #5888ac;
      padding: 2px 4px;
      font-size: 12px;
    }
    .btn-default:hover {
      cursor: pointer;
      color: #fff;
      background: #5da5d8;
    }
  }
}
.map_content_mobile{
  /*max-width: 786px;*/
  width: 100%;
  margin: 0 auto 0;
  position: relative;
  #btn_my_location{
    width: 30px;
    position: absolute;
    top:15px;
    right: 5px;
    background: #5888ac;
    border-radius: 15px;
    display: block;
    z-index: 99999;
    cursor: pointer;
    i{
      color: #fff;
      font-size: 25px;
      text-align: center;
      margin: auto;
      width: 100%;
      padding: 3px;
    }
  }
}
#btn_meet_mobile,#btn_discover_mobile{
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 10;
  // background-color: #365167;
  // border-color: #426c8f;
  // border-radius: 100%;
  display: table;
  cursor: pointer;
  bottom: 90%;
  margin: 0 auto;
  span{
    text-align: center;
    color: white;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
  }
  img{
    width: 70px;
    height: 70px;
  }
}

#btn_discover_mobile{
  box-shadow: 0 0 2px 1px #4e7b9c;
  display: none;
}

.list-menu-mobile{
  list-style: none;
  padding: 10px 15px 5px 15px;
  color: #eee;
}

.map-marker-label {
  width: 150px;
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  color: #1d1d1d;
  font-family: "ProximaNovaRegular";
  span {
    font-family: "ProximaNovaBold";
  }
}
