body{
  background: #f2f2f2;
  &.no-login{
    background: #fbfbfb !important;
  }
}
.loader {
  z-index: 999989;
}
.loader-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999990;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  .netwrk-loader {
    z-index: 999991;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    margin: -24px auto 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;/*outline: none !important; */
  }
}
.wrap-mobile{
  width: 100%;
  overflow: auto;
  /*max-width: 786px;*/
  margin: auto;
  .mCustomScrollbar {
    .mCSB_inside > .mCSB_container{
      margin-right: 0;
    }
    .mCSB_scrollTools{
      width: 3px;
    }
  }
  .container{
    width: 100%;
    padding: 0;
  }
}

.navbar-mobile{
  /*height: 40px;*/
  /*background-color: #5888ac;*/
  background: url("../../img/background/mobile-header.png") repeat-x;
  // border-color: #426c8f;
  border-radius: 0;
  height: 60px;
  a{
    color:#eee;
  }
  .menu_top{
  	width: 100%;
  	height: 60px;
    padding: 0 15px;
    position: absolute;
    /*background-color: rgba(88, 136, 172, 0.2);*/

    .logo_netwrk{
      width: 20%;
      height: auto;
      float: left;
      z-index: 1000;
      position: relative;

      .logo-inactive {
        display: inline-block;
      }
      .logo-active {
        position: absolute;
        top: 0;
        left: 0;
        opacity:0;
      }
      img{
        width: 44px;
        height: 44px;
        margin: 8px 0;
      }
      &.logo-glow{
        .logo-active{
          backface-visibility: hidden;
          animation-name: fadeInOut;
          animation-duration: 6s;
          animation-origin: 0 0;
          animation-timing-function: ease-in-out;
          animation-fill-mode: both;
          animation-iteration-count: infinite;
          -webkit-animation-name: fadeInOut;
          -webkit-animation-duration: 6s;
          -webkit-animation-origin: 0 0;
          -webkit-animation-timing-function: ease-in-out;
          -webkit-animation-fill-mode: both;
          -webkit-animation-iteration-count: infinite;
        }
        @-webkit-keyframes fadeInOut {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
        @keyframes fadeInOut {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    .chatting{
      float: right;
      padding: 0 10px;
      span{
        color: #fff;
        font-size: 20px;
        line-height: 60px;
        i{
          margin-right: 5px;
        }
      }
    }
  }
  .menu_bottom{
    width: 100%;
    height: 40px;
    position: relative;
    .left{
      position: absolute;
      top: 20%;
      left: 5%;
    }
    .right{
      /*float: right;*/
      position: absolute;
      top: 15%;
      right: 5%;
      color: #fff;
      font-size: 20px;
      .notify{
        font-family: "ProximaNovaRegular";
        font-size: 12px;
        padding-top: 2px;
        background: #f95e65;
        border-radius: 20px;
        border: 1px solid;
        margin-top: -3px;
        position: absolute;
        margin-left: -10px;
        text-align: center;
        width: 21px;
        height: 21px;
      }
      .disable{
        display: none;
      }
    }
	.chatting{
      float: right;
      padding: 0 10px;
      span{
        color: #fff;
        font-size: 20px;
        line-height: 60px;
        i{
          margin-right: 5px;
        }
      }
    }
  }
}


.navigation-wrapper {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  .box-navigation {
    .navigation-btn-group {
      .btn {
        border-right: 1px solid #fff;
        border-left: none;
        border-top: none;
        border-bottom: none;
        margin-right: 1px;
        background-color: #5888ac;
        color: #fff;
        padding: 2px 4px;
        line-height: 10px;
        height: 34px;
        min-width: 40px;
        position: relative;
        .ci-meet {
          background: url("../../img/icon/meet_icon.png") no-repeat;
          background-size: contain;
          display: block;
          height: 18px;
          width: 24px;
          margin: 2px auto 0;
        }
        .ci-line {
          background:url("../../img/icon/line-icon-nav.png") no-repeat;
          background-size: contain;
          display:block;
          height:14px;
          width:14px;
          margin: 1px auto;
        }
        .navigation-icon {
          font-size: 16px;
        }
        .ci-sign-in {
          margin-top: 2px;
        }
        .navigation-text {
          font-size: 12px;
        }
        &:hover {
          cursor: pointer;
          background: #5da5d8;
        }
        &:last-child {
          border: none;
          margin-right: 0;
        }
      }
      .btn-nav-map {
        min-width: 40px;
        float: left;
        .btn-active,
        .btn-inactive {
          border-right: 0;
          border-left: none;
          border-top: none;
          border-bottom: none;
          margin-right: 1px;
          color: #fff;
          padding: 2px 4px;
          line-height: 10px;
          height: 34px;
          min-width: 40px;
          border-radius: 0;
          /*border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;*/
          .navigation-icon {
            font-size: 16px;
          }
          .navigation-text {
            font-size: 12px;
          }
        }
      }
      .profile-dropdown > .btn:first-child {
        border: none;
        margin-right: 0;
      }
      .notify {
        font-family: "ProximaNovaRegular";
        font-size: 12px;
        padding-top: 2px;
        background: #f95e65;
        border-radius: 20px;
        border: 1px solid;
        margin-top: -3px;
        position: absolute;
        margin-left: -10px;
        text-align: center;
        width: 21px;
        height: 21px;
        top: -5px;
        right: 1px;
      }
      .disable {
        display: none;
      }
    }
  }
}

.wrap-mobile .btn-meet-mobile-wrapper {
  position: fixed;
  /*bottom: 34px;*/
  bottom: 0;
  width: 100%;
  display: none;
}
#Default[data-action="home"] {
  .btn-meet-mobile-wrapper {
    display: block;
  }

  .navigation-wrapper {
    bottom: 0;
  }

  .navbar-mobile {
    background: transparent;
  }
}
#Default[data-action="index"] {
  .navbar-mobile{
    background: transparent;
  }
}
#Default[data-action="login"] {
  .navigation-wrapper {
    display: none;
  }
}

/*#Default[data-action="landing-page"] .navigation-wrapper {
  bottom: 35px;
}*/

.map_content_mobile{
  /*max-width: 786px;*/
  width: 100%;
  margin: 0 auto 0;
  position: relative;
}

#btn_my_location_old,
.btn-explore-location{
  width: 36px;
  position: absolute;
  top:11px;
  right: 4px;
  display: block;
  z-index: 99999;
  cursor: pointer;
  text-align: center;
  i{
    background: #5888ac;
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 26px;
    width: 25px;
    padding-top: 3px;
    border-radius: 50%;
    margin: auto;
  }
  span{
    color: #5888ac;
    font-weight: 600;
  }
  &.active {
    i {
      background: #5da5d8;
    }
    span {
      color: #5da5d8;
    }
  }
}
#btn_meet_mobile,#btn_discover_mobile{
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 10;
  // background-color: #365167;
  // border-color: #426c8f;
  // border-radius: 100%;
  display: table;
  cursor: pointer;
  bottom: 90%;
  margin: 0 auto;
  span{
    text-align: center;
    color: white;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
  }
  img{
    width: 70px;
    height: 70px;
  }
}

#btn_discover_mobile{
  box-shadow: 0 0 2px 1px #4e7b9c;
  display: none;
}

.list-menu-mobile{
  list-style: none;
  padding: 10px 15px 5px 15px;
  color: #eee;
}

.map-marker-label {
  width: 150px;
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  color: #1d1d1d;
  font-family: "ProximaNovaRegular";
  span {
    font-family: "ProximaNovaBold";
  }
}
