#show_meet{
    width: 100%;
    position: fixed;
    top: 40px;
    bottom: 45px;
    overflow-y: hidden;
    background-color: #ffffff;
    .container_meet{
        // overflow-y: auto;
        height: auto;
        width: 100%;
        padding: 30px 0;
        z-index: 5;
        overflow-y: auto;
        #meeting_page{
            background: #ffffff;
            p.no_data{
                margin: 10px;
                display: none;
                text-align: center;
                color: #000;
            }
            .meet-navigation-control {
                position: absolute;
                width: 100%;
                z-index: 5;
                .nav-control {
                    position: absolute;
                    top: 75px;
                    .fa {
                        font-size: 70px;
                        color: #d7d7d7;
                    }
                    &.back {
                        left: 10px;
                    }
                    &.next {
                        right: 10px;
                    }
                    &.disable {
                        display: none;
                    }
                }
            }
            .user_item{
                position: relative;
                .avatar-image{
                    width: auto;
                    height: auto;
                    min-height: 220px;
                    max-width: 100%;
                    margin: auto;
                    background-color: #fff;
                    img{
                        width: auto;
                        // max-height: 270px;
                        height: 220px;
                        max-width: 100%;
                        display: block;
                        margin: auto;
                    }
                }
                .user-info {
                    padding: 0 45px;
                    .user-name {
                        font-weight: 600;
                    }
                    .user-meet-info {
                        margin-bottom: 10px;
                    }
                    .control-btn {
                        .btn {
                            color: #ffffff;
                            background: #5888ac;
                            &.met {
                                background: #5da5d8;
                            }
                            &.met-green {
                                background: green;
                            }
                        }
                    }
                }
            }
        }
    }
}

#meetListing {
    width: 100%;
    position: fixed;
    top: 40px;
    bottom: 45px;
    .header {
        background: #5888ac none repeat scroll 0 0;
        border: medium none;
        display: block;
        height: 40px;
        padding: 0;
        width: 100%;
        .back-page {
            border-right: 1px solid #fff;
            cursor: pointer;
            float: left;
            height: 40px;
            width: 50px;
            span {
                color: #fff;
                display: block;
                font-size: 13px;
                line-height: 18px;
                text-align: center;
                i {
                    color: #fff;
                    display: block;
                    font-size: 14px;
                    padding-top: 5px;
                }
            }
        }
        .netwrk-icon {
            background: #ffffff;
            /*border-bottom: 1px solid #5888ac;*/
            cursor: pointer;
            float: left;
            height: 40px;
            width: 40px;
            img {
                height: 30px;
                margin: 4px 0 0 5px;
                width: 30px;
            }
        }
        .title-page {
            float: left;
            height: 40px;
            min-width: 250px;
            width: 83%;
            .title {
                color: #fff;
                display: inherit;
                font-size: 18px;
                line-height: 37px;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .meet-list-wrapper {
        width: 100%;
        height: 90%;
        background: #fff;
        ul {
            padding: 0;
            overflow: hidden;
            li {
                padding: 5px;
                list-style-type: none;
                border-bottom: 1px solid #cccccc;
                .meet-user-row {
                    height: 40px;
                    position: relative;
                    .user-image {
                        border: 1px solid #d8d8d8;
                        border-radius: 2px;
                        height: 250px;
                        width: 250px;
                        line-height: 250px;
                        text-align: center;
                        vertical-align: top;
                        margin: 0 auto 5px auto;
                        img {
                            height: auto;
                            max-height: 100%;
                            max-width: 100%;
                        }
                    }
                    .user-details-wrapper {
                        color: #1d1b1b;
                        float: left;
                        width: 195px;
                        min-width: 195px;
                        min-height: 1px;
                        margin-left: 5px;
                        margin-right: 5px;
                        .user-name {
                            font-size: 14px;
                            font-weight: bold;
                            line-height: 20px;
                            min-width: 180px;
                            min-height: 1px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .user-info {
                            font-size: 13px;
                            min-width: 180px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .meet-button-wrapper {
                        width: 65px;
                        float: right;
                        text-align: center;
                        padding-top: 3px;
                        .btn-meet-trigger {
                            color: #ffffff;
                            background: #5888ac;
                            &.btn-met {
                                background: #5da5d8;
                            }
                        }
                        .btn-met-green {
                            color: #ffffff;
                            background: green;
                        }
                    }
                }
            }
        }
    }
}