#yii-debug-toolbar{
    display: none;
}
#show-topic{
    overflow-y: auto;
    overflow-x: hidden;
    .header{
        background: #5888ac;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #fff;
        position: fixed;
        top:60px;
        z-index: 20;
        .back_page{
            width: 20%;
            height: 40px;
            float: left;
            cursor: pointer;
            border-right: 1px solid #fff;
            img{
                width: 25px;
            }
            i{
                font-size: 12px;
            }
            span{
                font-size: 12px;
                color: #fff;
                display: block;
                text-align: center;
            }
        }
        .title_page{
            width: 50%;
            height: 40px;
            margin: auto;
            float: left;
            z-index: 20;
            border-right: 1px solid #fff;
            img{
                width: 20px;
                margin-right: 5px;
                margin-bottom: 5px;
            }
            .title{
                color: #fff;
                display: inherit;
                text-align: center;
                font-size: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &.on-feed{
                width: 80%;
            }
        }
        .create_topic{
            float: left;
            width: 30%;
            height: 40px;
            cursor: pointer;
            border-left: 1px solid #fff;
            span{
                color: #fff;
                font-size: 12px;
                display: block;
                text-align: center;
                i{
                    color: #fff;
                }
            }
            &.on-feed{
                display: none;
            }
        }
    }
    .sidebar{
        width: 100%;
        background: #5888ac;
        display: table;
        position: fixed;
        top: 100px;
        border-top: 1px solid #fff;
        z-index: 20;
        .dropdown{
            float: right;
            width: 32%;
            padding: 5px;
            .form-control{
                padding: 5px;
                font-size: 11px;
                width: 100%;
                height: 25px;
            }
            &.visible{
                visibility: hidden;
            }
        }

        .filter_sidebar{
            color: #eee;
            padding: 5px;
            border-collapse: separate;
            margin: auto;
            float: right;
            width: 55%;
            td{
                width: 50px;
                font-size: 16px;
                border: 1px solid #eee;
                padding: 5px;
                cursor: pointer;
                text-align: center;
                &.active{
                   background: #5da5d8;
                }
            }
            td:first-child{
                border-right: none;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            td:last-child{
                border-left: none;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        .filter{
            float: right;
            width: 12%;
            height: 44px;
            margin: 0 0 0 15%;
            font-size: 22px;
            color: #fff;
            line-height: 44px;
            text-align: center;
            &.active{
                background: #5da5d8;
            }
            &.visible{
                visibility: hidden;
            }
        }
    }
    .filter_sort{
        width: 100%;
        // height: 34px;
        padding: 5px;
        background: #5888ac;
        position: fixed;
        top: 145px;
        border-top: 1px solid #fff;
        display: none;
        z-index: 20;
        &.active{
            display: block;
        }
        .dropdown{
            background: #fff;
            width: 100%;
            border-radius: 4px;
            .dropdown-toggle{
                width: 100%;
                height: 34px;
                background: #fff;
                padding: 8px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            .input-group-addon{
                border: none;
                border-top-right-radius:  4px;
                border-bottom-right-radius: 4px;
            }
            .dropdown-menu{
                width: 100%;
                padding: 0;
                margin: 0;
                li{
                    cursor: pointer;
                    padding: 5px 10px;
                    border-bottom: 1px solid #ddd;
                    &:last-child{
                        border-bottom: 0;
                    }
                }
            }
        }
    }
    .container{
        // padding: 0 5px;
        margin: 65px 0;
        width: 100%;
        &.open{
            margin: 110px 0 65px;
        }
        .tab{
            display: none;
            .no-data{
                text-align: center;
                font-size: 16px;
                padding-top: 20px;
            }
        }
        #tab_feed{
            width: 100%;
            display: none;
            margin: 80px auto 10px;
            .top-header{
                height: auto;
                background-color: #cacaca;
                padding: 5px;
                .lp-title{
                    font-family: "ProximaNovaBold";
                    font-size: 100%;
                    margin-bottom: 0;
                }
                .lp-description{
                    font-size: 90%;
                    color: #1d1b1b;
                    margin-bottom: 0;
                }
            }
            .top-post{
                .top-post-content{
                    background-color: #fff;
                    .post-row{
                        border-bottom: 1px solid #e4e4e4;
                        padding: 10px 15px;
                        height: 74px;
                        .avatar{
                            width: 50px;
                            height: 50px;
                            max-width: 50px;
                            max-height: 50px;
                            float: left;
                            display: table;
                            position: relative;
                            border-radius: 2px;
                            border: 1px solid #898989;
                            background: #fff;
                            .image{
                                height: 50px;
                                width: 50px;
                                text-align: center;
                                vertical-align: middle;
                                display: table-cell;
                                img{
                                    margin: auto;
                                    max-width: 50px;
                                    width: auto;
                                    height: auto;
                                    max-height: 50px;
                                }
                            }
                        }
                        .post{
                            width: 69%;
                            display: block;
                            margin: 0 0 0 15px;
                            float: left;
                            .post-title{
                                font-family: "ProximaNovaSemibold";
                                font-size: 100%;
                                color: #5888ac;
                                margin-bottom: 0;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .post-content{
                                font-family: "ProximaNovaRegular";
                                font-size: 75%;
                                line-height: 13px;
                                color: #1d1b1b;
                                .show_more{
                                    color: #337ab7;
                                    cursor: pointer;
                                }
                            }
                        }
                        .action{
                            float: right;
                            width: 50px;
                            text-align: center;
                            .brilliant{
                                font-family: "Verdana";
                                font-size: 75%;
                                color: #fff;
                                width: 36px;
                                height: 30px;
                                background: url('../../img/icon/brilliant-icon-medium.png') no-repeat;
                                background-size: 36px 30px;
                                display: block;
                                padding: 10px 0;
                                margin-left: 9px;
                                cursor: pointer;
                            }
                            .chat{
                                color: #5888ac;
                                cursor: pointer;
                                text-align: right;
                                .fa{
                                    margin-right: 5px;
                                }
                                &:hover{
                                    color: #5da5d8;
                                }
                            }
                        }
                    }
                    .last-row{
                        border: none;
                    }
                }
            }
            .top-topic{
                .top-topic-content{
                    .topic-row{
                        border-bottom: 1px solid #e4e4e4;
                        height: 30px;
                        padding: 0 15px;
                        background: #fff;
                        width: 100%;
                        &:hover{
                            .topic-title{
                                color: #5da5d8;
                            }
                            .arrow{
                                color: #5da5d8;
                            }
                        }
                        .topic-title{
                            font-size: 110%;
                            color: #1d1b1b;
                            width: 70%;
                            line-height: 30px;
                            float: left;
                            margin-bottom: 0;
                            cursor: pointer;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        .post-counter{
                            padding-top: 5px;
                            width: auto;
                            float: right;
                            text-align: right;
                            color: #1d1b1b;
                            .fa{
                                margin-left: 5px;
                                float: right;
                                padding-top: 2px;
                            }
                            .arrow{
                                margin-left: 15px;
                                cursor: pointer;
                                float: right;
                            }
                        }
                    }
                    .last-row{
                        border: none;
                    }
                }
            }
            .top-feed{
                background-color: #fff;
                .feed-row{
                    border-bottom: 1px solid #e4e4e4;
                    position: relative;
                    &:hover{
                            cursor: pointer;
                    }
                }
                .feed-row.feed-topic{
                    padding: 3px 15px;
                    height: 50px;
                    .feed-content {
                        .topic-title {
                            font-size: 16px;
                            color:#1d1b1b;
                            width: 300px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: inline-block;
                            &:hover {
                                color: #5da5d8;
                            }
                        }
                        .topic-create-by {
                            font-size: 13px;
                            color: #797979;
                            position: absolute;
                            left: 15px;
                            bottom: 5px;
                        }
                        .appear-day {
                            font-size : 12px;
                            color : #797979;
                            position: absolute;
                            right: 15px;
                            bottom: 5px;
                        }
                    }
                }

                .feed-row.feed-post{
                    padding: 3px 15px;
                    height: 70px;
                    .avatar-poster {
                        width: 40px;
                        height: 40px;
                        max-width: 40px;
                        max-height: 40px;
                        float: left;
                        display: table;
                        position: relative;
                        background: #fff;
                        border-radius: 2px;
                        border: 1px solid #898989;
                        .image{
                            height: 40px;
                            width: 40px;
                            text-align: center;
                            vertical-align: middle;
                            display: table-cell;
                            cursor: pointer;
                            img{
                                margin: auto;
                                max-width: 40px;
                                width: auto;
                                height: auto;
                                max-height: 40px;
                            }
                        }
                    }
                    .feed-content {
                        .post {
                            margin-left: 50px;
                            width: 100%;
                            .post-title {
                                font-size: 16px;
                                color:#1d1b1b;
                                font-family: "ProximaNovaSemibold";
                                width: 75%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .post-content {
                                font-size: 13px;
                                color: #1d1b1b;
                                line-height: 14px;
                                width: 80%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .post-create-by {
                            font-size: 13px;
                            color: #797979;
                            position: absolute;
                            left: 65px;
                            bottom: 5px;
                        }
                        .appear-day {
                            font-size : 12px;
                            color : #797979;
                            position: absolute;
                            right: 15px;
                            bottom: 5px;
                        }
                    }
                }
            }
        }
        #tab_topic{
            width: 100%;
            display: none;
            margin: 80px auto 10px;
            #item_list_post,#item_list_view,#item_list_recent{
                width: 100%;
                display: none;
                .item{
                    &:nth-of-type(odd) {
                        background: #ffffff;
                    }
                    &:nth-of-type(even) {
                        background: #fcfcfc;
                    }
                    width: 100%;
                    height: 50px;
                    padding: 15px;
                    border-bottom: 1px solid #eee;
                    p{
                        color: #1d1b1b;
                        margin: 0;
                        font-size: 12px;
                        text-align: right;
                    }
                    .name_topic{
                        font-size: 18px;
                        width: 40%;
                        // height: 50px;
                        float: left;
                        overflow: hidden;
                        p,span{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 14px;
                            text-align: left;
                        }
                    }
                    .num_count{
                        width: 14%;
                        // height: 50px;
                        float: right;
                        margin-right: 2%;
                        i{
                            margin-right: 5%;
                        }
                    }
                    .num_count_duration{
                        width: 20%;
                        // height: 50px;
                        float: right;
                        i{
                            margin-right: 5%;
                        }
                    }
                    .arrow{
                        width: 8%;
                        // height: 50px;
                        float: right;
                        p{
                            text-align: right;
                        }
                        i{
                            font-size: 16px;
                        }
                    }
                }
            }
        }

    }
}
#create_topic{
    overflow-y: hidden;
    margin: 60px auto;
    .header{
        background: #5888ac;//#08263a;
        // padding: 7px 15px 3px;
        width: 100%;
        position: fixed;
        top:60px;
        border-top: 1px solid #fff;
        height: 40px;
        color: #fff;
        z-index: 10;
        .back_page{
            width: 78px;// 19%;
            float: left;
            height: 40px;
            border-right: 1px solid #fff;
            padding: 10px 15px;
            span{
                font-size: 12px;
            }
            // img{
            //     width: 25px;
            // }
            // p{
            //     margin: 0;
            //     a{
            //         color: #fff;
            //         &:link, &:visited, &:hover, &:active{
            //             text-decoration: none;
            //         }
            //     }
            //     i{
            //         font-size: 14px;
            //         color: #eee;
            //     }
            // }
        }
        .title_page{
            width: 70%;
            margin: auto;
            padding-top: 9px;
            img{
                width: 25px;
                margin-right: 5px;
                margin-bottom: 5px;
            }
            .title{
                color: #fff;
                display: inherit;
                text-align: center;
                font-size: 16px;
            }
        }
    }
    .container{
        width: 100%;
        margin: 40px auto 0;
        padding-bottom: 30px;
        .topic{
            width: 100%;
            padding: 15px;
            background: #fff;
            border-bottom: 1px solid #f3f3f3;
            .name_topic{
                width: 100%;
                border-radius: 4px;
                font-size: 14px;
                font-family: "ProximaNovaRegular";
                color: #1d1b1b;
                background-color: #fff;
                border-color: #bcbcbc;
                &:focus{
                    border-color: #5da5d8;
                }
            }
        }
        .post{
            width: 100%;
            // padding: 10px 15px;
            background: #fff;
            // box-shadow: 0px 3px 5px #888;
            border: none;
            .post-title{
                padding: 15px;
                border-bottom: 1px solid #f3f3f3;
                .input-group{
                    width: 100%;
                    border-radius: 4px;
                    border: 1px solid #bcbcbc;
                    height: 32px;
                    .input-group-addon{
                        background: #fff;
                        border: none;
                        font-weight: bold;
                        padding: 4px 4px 4px 10px;
                        color: #1d1b1b;
                    }
                    input{
                        font-size: 14px;
                        font-family: "ProximaNovaRegular";
                        color: #1d1b1b;
                        background-color: #fff;
                        border: none;
                        padding: 5px 10px 5px 5px;
                        width: 100%;
                        height: 32px;
                    }
                }
                .clsFocus{
                    border-color: #5da5d8;
                }
            }
            .post-message{
                padding: 15px;
                textarea.message{
                    font-size: 14px;
                    font-family: "ProximaNovaRegular";
                    color: #1d1b1b;
                    background-color: #fff;
                    width: 100%;
                    border: 1px solid #bcbcbc;
                    height: 110px;
                    border-radius: 4px;
                    padding: 5px 10px;
                    &:focus{
                        border-color: #5da5d8;
                    }
                }
            }
        }

        .btn-control{
            width: 100%;
            // margin: 10px auto;
            float: left;
            padding: 15px;
            font-family: "ProximaNovaRegular";
            font-size: 16px;
            .cancel{
                width: 110px; // 27%;
                float: left;
                background: #5888ac; // #265c7f;
                border-radius: 4px;
                border: 1px solid #fff; // #245879;
                color: #fff;
                cursor: pointer;
                box-shadow: 0 0 1px 1px #e0e0e0;
                p{
                    font-family: "ProximaNovaRegular";
                    font-weight: normal;
                    margin: 0;
                    text-align: center;
                    padding: 7px 5px;
                    color: #fff;
                }
                &.disable{
                    opacity: 0.6;
                    cursor: default;
                }
            }
            .save{
                width: 110px; // 27%;
                float: right;
                border: 1px solid #fff; // #245879;
                background: #5888ac; // #265c7f;
                color: #fff;
                text-align: center;
                border-radius: 4px;
                padding: 7px 5px;
                cursor: pointer;
                box-shadow: 0 0 1px 1px #e0e0e0;
                .fa{
                    font-size: 18px;
                }
                &.disable{
                    opacity: 0.6;
                    cursor: default;
                }
            }
        }
        textarea{
            font-size: 12px;
            resize: none;
            outline: none;
        }
        p{
            font-family: "ProximaNovaSemibold";
            color: #1d1b1b;
        }
        input{
            font-size: 12px;
            border-radius: 7px;
            border: 1px solid #eee;
            outline: none;
            text-align: left;
            padding: 5px 10px;
        }
    }
}
