#yii-debug-toolbar{
    display: none;
}
#show-topic{
  // background: #08263a;
    .header{
        background: #5888ac;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #fff;
        position: fixed;
        top:60px;
        z-index: 20;
        .back_page{
            width: 20%;
            height: 40px;
            float: left;
            cursor: pointer;
            border-right: 1px solid #fff;
            img{
                width: 25px;
            }
            i{
                font-size: 12px;
            }
            span{
                font-size: 12px;
                color: #fff;
                display: block;
                text-align: center;
            }
        }
        .title_page{
            width: 55%;
            height: 40px;
            margin: auto;
            float: left;
            z-index: 20;
            border-right: 1px solid #fff;
            img{
                width: 20px;
                margin-right: 5px;
                margin-bottom: 5px;
            }
            .title{
                color: #fff;
                display: inherit;
                text-align: center;
                font-size: 17px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .create_topic{
            float: left;
            width: 25%;
            height: 40px;
            cursor: pointer;
            span{
                color: #fff;
                font-size: 11px;
                display: block;
                text-align: center;
                i{
                    color: #fff;
                }
            }
        }
    }
    .sidebar{
        width: 100%;
        background: #5888ac;
        display: table;
        position: fixed;
        top: 100px;
        border-top: 1px solid #fff;
        z-index: 20;
        .dropdown{
            float: right;
            width: 32%;
            padding: 5px;
            .form-control{
                padding: 5px;
                font-size: 11px;
                width: 100%;
                height: 25px;
            }
            &.visible{
                visibility: hidden;
            }
        }

        .filter_sidebar{
            color: #eee;
            padding: 5px;
            border-collapse: separate;
            margin: auto;
            float: right;
            width: 60%;
            td{ 
                width: 50px;
                font-size: 14px;
                border: 1px solid #eee;
                padding: 6px;
                cursor: pointer;
                text-align: center;
                &.active{
                   background: #5da5d8; 
                }
            }
            td:first-child{
                border-right: none;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            td:last-child{
                border-left: none;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        .filter{
            float: right;
            width: 12%;
            height: 44px;
            margin: 0 0 0 10%;
            font-size: 22px;
            color: #fff;
            line-height: 44px;
            text-align: center;
            &.active{
                background: #5da5d8;
            }
        }
    }
    .filter_sort{
        width: 100%;
        height: 34px;
        padding: 6px;
        background: #5486b0;
        position: fixed;
        top: 145px;
        border-top: 1px solid #fff;
        display: none;
        z-index: 20;
        &.active{
            display: table;
        }
        .dropdown{
            background: #fff;
            width: 100%;
            border-radius: 4px;
            .dropdown-toggle{
                width: 100%;
                height: 34px;
                background: #fff;
                padding: 8px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            .input-group-addon{
                border: none;
                border-top-right-radius:  4px;
                border-bottom-right-radius: 4px;
            }
            .dropdown-menu{
                width: 100%;
                padding: 5px;
            }
        }
    }
    .container{
        // padding: 0 5px;
        margin: 65px 0;
        width: 100%;
        &.open{
            margin: 115px 0 65px;
        }
        #item_list_post,#item_list_view,#item_list_topic{
            width: 100%;
            margin: 80px auto;
            // display: none;
            .no-data{
                text-align: center;
                font-size: 14px;
                padding-top: 10px;
                display: none;
            }
            .item{
                background: #fff;
                width: 100%;
                height: 50px;
                padding: 0 0 0 15px;
                border-bottom: 1px solid #eee;
                p{
                    color: #1d1b1b;
                    line-height: 50px;
                    margin: 0;
                    font-size: 12px;
                    text-align: left;
                }
                .name_topic{
                    font-size: 15px;
                    width: 45%;
                    height: 50px;
                    float: left;
                    overflow: hidden;
                    p,span{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 14px;
                    }
                }
                .num_count{
                    width: 12%;
                    height: 50px;
                    float: right;
                    margin-right: 2%;
                    i{
                        margin-right: 3px;
                    }
                }
                .num_count_duration{
                    width: 18%;
                    height: 50px;
                    float: right;
                    i{
                        margin-right: 3px;
                    }
                }
                .arrow{
                    width: 8%;
                    height: 50px;
                    float: right;
                    p{
                        text-align: center;
                    }
                    i{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
#create_topic{
    overflow-y: hidden;
    .header{
        background: #08263a;
        padding: 7px 5px 3px;
        width: 100%;
        position: fixed;
        top:0;
        .back_page{
            width: 10%;
            float: left;
            img{
                width: 25px;
            }
            i{
                font-size: 25px;
                color: #eee;
            }
        }
        .title_page{
            width: 70%;
            margin: auto;
            img{
                width: 25px;
                margin-right: 5px;
                margin-bottom: 5px;
            }
            .title{
                color: #eee;
                display: inherit;
                text-align: center;
                font-size: 17px;
            }
        }
    }
    .container{
        width: 100%;
        margin: 50px auto;
        padding-bottom: 30px;
        .topic{
            width: 100%;
            padding: 10px;
            background: #fff;
            box-shadow: 0px 3px 5px #888;
            border: none;
            margin-bottom: 10px;
            .name_topic{
                width: 80%;
            }
        }
        .post{
            width: 100%;
            padding: 10px 15px;
            background: #fff;
            box-shadow: 0px 3px 5px #888;
            border: none; 
            .input-group{
                width: 80%;
                border-radius: 5px;
                border: 1px solid #eee;
                margin-bottom: 10px;
                .input-group-addon{
                    padding: 0 3px;
                    background: #fff;
                    border: none;
                    font-weight: bold;
                    padding: 4px;
                }
                input{
                    padding: 5px;
                    border: none;
                    padding: 0;
                    width: 100%;
                }
            }
            textarea.message{
                width: 90%;
                border: 1px solid #eee;
                height: 100px;
            }
        }

        .btn-control{
            width: 100%;
            margin: 10px auto;
            float: left;
            .cancel{
                width: 40%;
                float: left;
                background: #265c7f;
                border-radius: 10px;
                border: 1px solid #245879;
                color: #fff;
                cursor: pointer;
                p{
                    margin: 0;
                    text-align: center;
                    padding: 10px 5px;
                }
                &.disable{
                    opacity: 0.6;
                    cursor: default;
                }
            }
            .save{
                width: 40%;
                float: right;
                border: 1px solid #245879;
                background: #265c7f;
                color: #fff;
                text-align: center;
                border-radius: 10px;
                padding: 10px 5px;
                cursor: pointer;
                .fa{
                    font-size: 18px;
                }
                &.disable{
                    opacity: 0.6;
                    cursor: default;
                }
            }
        }
        textarea{
            font-size: 12px;
            resize: none;
            outline: none;
        }
        p{
            font-weight: bold;
        }
        input{
            font-size: 12px;
            border-radius: 7px;
            border: 1px solid #eee;
            outline: none;
            text-align: left;
            padding: 5px 10px;
        }
    }
}
