#chat_inbox_btn {
	webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}
#chat_inbox_btn:hover {
	cursor: pointer;
	background-color: #5da5d8;
}

#chat_inbox {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 100px;
	width: 400px;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	border-right: 1px solid #5888ac;
	border-top: 1px solid #5888ac;
	.slider-tab {
		li {
			margin: 0;
			border: 0;
			padding: 0;
			text-align: center;
			a {
				border: 0;
				border-radius: 0;
				font-size: 16px;
				color: #1d1b1b;
				outline: none;
				margin-right: 1px;
				&:hover {
					background: #5888ac;
					color: #ffffff;
				}
			}

			&:last-child {
				a {
					margin-right: 0;
				}
			}

			&.active {
				a {
					background: #5888ac;
					color: #ffffff;
				}
			}
		}
	}
	.chat-inbox-wrapper {
		position: relative;
	}
	#hide_chat_inbox_btn {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 16px;
		&:hover {
			cursor: pointer;
		}
	}
	.chat-inbox-tab {
		background: #ffffff;
		height: 35px;
		li {
			margin: 0;
			border: 0;
			padding: 0;
			text-align: center;
			a {
				border: 0;
				border-radius: 0;
				font-size: 16px;
				padding: 5px 0px 0px;
				color: #1d1b1b;
				outline: none;
				span {
					height: 29px;
					display: inline-block;
				}
				&:hover {
					font-weight: bold;
					cursor: pointer;
					background: #ffffff;
					color: #5da5d8;
				}
			}
			/*&.chat-dicussions-btn {
				text-align: left;
				a {
					span {
						padding-left: 5px;
					}
				}

			}
			&.chat-private-btn {
				text-align: right;
				a {
					span {
						padding-right: 6px;
					}
				}
			}*/
			&:hover {
				background: #ffffff;
				border: none;
			}
			&.active {
				font-weight: bold;
				cursor: pointer;
				background: #ffffff;
				color: #5da5d8;

				a {
					span {
						color: #5da5d8;
						border-bottom: solid 2px #5da5d8;
					}
				}
			}
		}
	}

	.chat-inbox-content {
		background: #ffffff;
		min-height: 90%;
		max-height: 530px;
		.tab-pane {
			max-height: 530px;
		}
		.panel-group {
			margin-bottom: 0;
			.panel {
				border: none;
				border-radius: 0;
				.panel-heading {
					border-bottom: none;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					margin-top: 1px;
					height: 45px;
					background-color: #cacaca;
					padding: 10px 5px;
					a {
						color: #333;
						text-decoration: none;
						outline: none;
						width: 100%;
						vertical-align: text-top;
						&:hover {
							color: #333;
							text-decoration: none;
							outline: none;
						}
						&:after {
							font-family:'FontAwesome';
							font-size: 16px;
							color: #333333;
							content:"\f056";
							float: right;
							margin-right: 5px;
							margin-top: -22px;
						}
						&.collapsed {
							&:after {
								content:"\f055";
							}
						}
					}
					.panel-title {
						font-family: "ProximaNovaBold";
						font-size: 16px;
						margin-bottom: 0;
						line-height: 16px;
						width: 100%;
						display: inline-block;
					}
				}
				.panel-body {
					padding: 0;
				}
				& + .panel {
					margin-top: 1px;
				}
			}
		}
		.chat-lines-title {
			font-family: "ProximaNovaBold";
			font-size: 16px;
			line-height: 16px;
			display: inline-block;
			width: 100%;
			height: 35px;
			background-color: #cacaca;
			border-top: 1px solid #ffffff;
			padding: 10px 5px;
		}
		.chat-lines-wrapper {
			max-height: 530px;
			ul {
				margin: 0;
				padding: 0;
				overflow: hidden;
				li {
					list-style-type: none;
					padding: 10px;
					border-bottom: 1px solid #cccccc;
					.chat-post-id {
						position: relative;
						height: 40px;
						.time-chat-inbox {
							position: absolute;
							top: 3px;
							right: 40px;
							color: #1d1b1b;
							font-size: 12px;
						}
						.notify-chat-inbox {
							position: absolute;
							right: 110px;
							background: #f95e65;
							width: 18px;
							border-radius: 20px;
							text-align: center;
							height: 18px;
							font-family: "ProximaNovaSemibold";
							color: #fff;
							font-size: 10px;
							padding-top: 2px;
							top: 2px;
						}
						.disable {
							display: none;
						}
						.fa-angle-right {
							position: absolute;
							top: 50%;
							right: 5px;
							transform: translateY(-50%);
							color: #1B1B1B;
						}
						.title-description-user {
							width: 225px;
							display: inline-block;
							margin-left: 4px;

							.title-chat-inbox {
								font-size: 15px;
								font-weight: bold;
								max-width: 110px; // 145px
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
								color: #1d1b1b;
							}
							// .title-chat-inbox::before {
							// 	content: "#";
							// }
							.description-chat-inbox {
								min-width: 220px;
								overflow:hidden;
								white-space:nowrap;
								text-overflow: ellipsis;
								color: #1d1b1b;
							}
							.match-description {
								font-size: 13px;
								font-family: "ProximaNovaBold";
								color: #f95e65;
								.matched-date {
									background: #f95e65;
									color: #fff;
									padding: 0 5px;
									border-radius: 2px;
								}
							}
						}
						.avatar-user {
							width: 40px;
							height: 40px;
							border: 1px solid #d8d8d8;
							border-radius: 2px;
							display: inline-block;
							vertical-align: top;
							line-height: 36px;
							text-align: center;
							.img_avatar {
								max-width: 100%;
								height: auto;
								max-height: 100%;
							}
						}
					}
					&:hover {
						cursor: pointer;
						background-color: #fafafa;
						.title-description-user {
							.title-chat-inbox {
								cursor: pointer;
								color: #5da5d8;
							}
						}
					}
				}
			}
		}
		.most-active-wrapper {
			.post-row{
				border-bottom: 1px solid #e4e4e4;
				padding: 5px;
				height: 74px;
				.avatar{
					width: 40px;
					height: 40px;
					max-width: 40px;
					max-height: 40px;
					float: left;
					display: table;
					position: relative;
					background: #fff;
					border-radius: 2px;
					border: 1px solid #898989;
					.image{
						width: 40px;
						height: 40px;
						text-align: center;
						vertical-align: middle;
						display: table-cell;
						cursor: pointer;
						img{
							margin: auto;
							width: auto;
							height: auto;
							max-width: 40px;
							max-height: 40px;
						}
					}
				}
				.post{
					height: 64px;
					margin: 0 5px 0 10px;
					overflow: hidden;
					width: 58%;
					display: block;
					float: left;
					cursor: pointer;
					.post-title{
						&::before{
							content: '#';
						}
						font-family: "ProximaNovaSemibold";
						font-size: 16px;
						color: #5888ac;
						margin-bottom: 0;
						cursor: pointer;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.post-content{
						font-family: "ProximaNovaRegular";
						font-size: 13px;
						line-height: 14px;
						color: #1d1b1b;
						.show_more{
							color: #337ab7;
							cursor: pointer;
						}
					}
				}
				.action{
					float: right;
					font-size: 13px;
					text-align: center;
					width: 20%;
					.brilliant{
						font-family: "Verdana";
						font-size: 11px;
						color: #fff;
						width: 36px;
						height: 30px;
						background: url('../../img/icon/brilliant-icon-medium.png') no-repeat;
						background-size: 36px 30px;
						display: block;
						padding: 10px 0;
						margin-left: 29px;
						cursor: pointer;
					}
					.chat{
						color: #5888ac;
						cursor: pointer;
						text-align: right;
						.fa{
							margin-right: 5px;
						}
						&:hover{
							color: #5da5d8;
						}
					}
				}
			}
		}
	}

	.area-news-tab {
		.feed-row{
			border-bottom: 1px solid #e4e4e4;
			position: relative;
			&:hover{
				cursor: pointer;
			}
			&.feed-topic{
				padding: 5px;
				.feed-content {
					.topic-title {
						font-size: 16px;
						color:#1d1b1b;
						width: 100%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						display: inline-block;
						vertical-align: middle;
						&:hover {
							color: #5da5d8;
						}
					}
					.topic-create-by {
						font-size: 13px;
						color: #797979;
					}
					.appear-day {
						font-size : 12px;
						color : #797979;
						position: absolute;
						right: 5px;
						bottom: 5px;
					}
				}
			}
			&.feed-post{
				padding: 5px;
				height: 65px;
				.avatar-poster {
					width: 40px;
					height: 40px;
					max-width: 40px;
					max-height: 40px;
					float: left;
					display: table;
					position: relative;
					background: #fff;
					border-radius: 2px;
					border: 1px solid #898989;
					.image{
						height: 40px;
						width: 40px;
						text-align: center;
						vertical-align: middle;
						display: table-cell;
						cursor: pointer;
						img{
							margin: auto;
							max-width: 40px;
							width: auto;
							height: auto;
							max-height: 40px;
						}
					}
				}
				.feed-content {
					.post {
						margin-left: 50px;
						width: 335px;
						.post-title {
							&::before{
								content: '#';
							}
							font-size: 16px;
							color:#1d1b1b;
							font-family: "ProximaNovaSemibold";
							width: 100%;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.post-content {
							font-size: 13px;
							color: #1d1b1b;
							line-height: 14px;
							width: 100%;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
					.post-create-by {
						font-size: 13px;
						color: #797979;
					}
					.appear-day {
						font-size : 12px;
						color : #797979;
						position: absolute;
						right: 5px;
						bottom: 5px;
					}
				}
			}
		}
		.post-row{
			border-bottom: 1px solid #e4e4e4;
			padding: 5px;
			height: 74px;
			.avatar{
				width: 40px;
				height: 40px;
				max-width: 40px;
				max-height: 40px;
				float: left;
				display: table;
				position: relative;
				background: #fff;
				border-radius: 2px;
				border: 1px solid #898989;
				.image{
					width: 40px;
					height: 40px;
					text-align: center;
					vertical-align: middle;
					display: table-cell;
					cursor: pointer;
					img{
						margin: auto;
						width: auto;
						height: auto;
						max-width: 40px;
						max-height: 40px;
					}
				}
			}
			.post{
				height: 64px;
				margin: 0 5px 0 10px;
				overflow: hidden;
				width: 58%;
				display: block;
				float: left;
				cursor: pointer;
				.post-title{
					&::before{
						content: '#';
					}
					font-family: "ProximaNovaSemibold";
					font-size: 16px;
					color: #5888ac;
					margin-bottom: 0;
					cursor: pointer;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.post-content{
					font-family: "ProximaNovaRegular";
					font-size: 13px;
					line-height: 14px;
					color: #1d1b1b;
					.show_more{
						color: #337ab7;
						cursor: pointer;
					}
				}
			}
			.action{
				float: right;
				font-size: 13px;
				text-align: center;
				width: 20%;
				.brilliant{
					font-family: "Verdana";
					font-size: 11px;
					color: #fff;
					width: 36px;
					height: 30px;
					background: url('../../img/icon/brilliant-icon-medium.png') no-repeat;
					background-size: 36px 30px;
					display: block;
					padding: 10px 0;
					margin-left: 29px;
					cursor: pointer;
				}
				.chat{
					color: #5888ac;
					cursor: pointer;
					text-align: right;
					.fa{
						margin-right: 5px;
					}
					&:hover{
						color: #5da5d8;
					}
				}
			}
		}
		.topic-row{
			border-bottom: 1px solid #e4e4e4;
			height: 30px;
			padding: 0 5px;
			background: #fff;
			&:hover{
				.topic-title{
					color: #5da5d8;
				}
				.arrow{
					color: #5da5d8;
				}
			}
			.topic-title{
				font-size: 16px;
				color: #1d1b1b;
				width: 80%;
				line-height: 30px;
				float: left;
				margin-bottom: 0;
				cursor: pointer;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.post-counter{
				padding-top: 5px;
				width: auto;
				text-align: right;
				float: right;
				color: #1d1b1b;
				.fa{
					margin-left: 5px;
					float: right;
					padding-top: 2px;
				}
				.arrow{
					margin-left: 25px;
					// right: 15px;
					cursor: pointer;
					float: right;
				}
			}
		}
		.last-row{
			border: none;
		}
	}
}
.responsive-chat-inbox {
	right: 320px;
}
