.loader {
  z-index: 999989;
}
.loader-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999990;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  .netwrk-loader {
    z-index: 999991;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    margin: -24px auto 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;/*outline: none !important; */
  }
}
.wrap{
  .mCustomScrollbar {
      .mCSB_inside > .mCSB_container{
        margin-right: 0;
      }
      .mCSB_scrollTools{
        width: 3px;
      }
  }
  .navbar-inverse{
    background: transparent;
    /*background-color: rgba(88, 136, 172, 0.2);*/
    .box-search {
      .search {
        border: 1px solid #333;
        border-radius: 4px;
      }
    }
  }
  .menu_top {
    border:none;
    z-index: 9999;
    padding-left: 400px;
    &.deactive{
      z-index: 0;
    }
  }
  .collapse{
    .logo_netwrk{
      width: 60px;
      height: 60px;
      float: left;
      position: relative;
      margin-left: 15px;
      margin-right: 15px;

      .logo-inactive {
        display: inline-block;
      }
      .logo-active {
        position: absolute;
        top: 0;
        left: 0;
        opacity:0;
      }
      img{
        width: 44px;
        height: 44px;
        margin: 8px;
      }

      &.logo-glow{
        .logo-active{
          backface-visibility: hidden;
          animation-name: fadeInOut;
          animation-duration: 6s;
          animation-origin: 0 0;
          animation-timing-function: ease-in-out;
          animation-fill-mode: both;
          animation-iteration-count: infinite;
          -webkit-animation-name: fadeInOut;
          -webkit-animation-duration: 6s;
          -webkit-animation-origin: 0 0;
          -webkit-animation-timing-function: ease-in-out;
          -webkit-animation-fill-mode: both;
          -webkit-animation-iteration-count: infinite;
        }
        @-webkit-keyframes fadeInOut {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
        @keyframes fadeInOut {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    .chatting{
      float: right;
      padding: 17px 10px;
      span{
        color: #fff;
        font-size: 20px;
        // line-height: 60px;
        i{
          margin-right: 5px;
        }
        .notify{
          font-family: "ProximaNovaRegular";
          font-size: 12px;
          padding-top: 2px;
          padding-left: 1px;
          background: #f95e65;
          border-radius: 20px;
          border: 1px solid;
          margin-top: -3px;
          position: absolute;
          margin-left: -16px;
          text-align: center;
          width: 21px;
          height: 21px;
        }
        .disable{
          display: none;
        }
      }
    }
    .navbar-nav>li>a {
      line-height: 30px
    }
  }

  #googleMap{
    z-index: 5;
    width: 100%;
    height: 100%;
    // min-height: 100%;
    min-width: 200px;
    display: block;
  }
  .map-padding{
    padding: 0;
  }
  .map_content{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto ;
    padding-left: 400px;
    // z-index: 1;
    .sidebar{
      width: 100%;
      height: 45px;
      background: #5486b0;
      position: fixed;
      z-index: 6;
      display: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
      img{
        width: 65px;
        height: 45px;
        float: left;
      }
      span{
        float: left;
        color: #fff;
        font-size: 16px;
        margin: 0 10px;
        max-width: 20%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 2.7;
      }
      .fa{
        float: left;
        font-size: 15px;
        color: #fff;
        line-height: 3;
      }
    }
    .box-navigation {
      position: absolute;
      right: 70px;
      z-index: 9999;
      .navigation-btn-group {
        margin: 13px 0 13px 20px;
        .btn {
          height: 36px;
          padding: 3px 17px;
          margin-right: 1px;
          min-width: 60px;
          border-right: 1px solid #fff;
          border-left: none;
          border-top: none;
          border-bottom: none;
          color: #fff;
          background: #5888ac;
          position: relative;
          .navigation-icon {
            display: block;
            line-height: 1;
            font-size: 16px;
          }
          .navigation-text {
            font-size: 12px;
            line-height: 12px;
            display: block;
            margin-top: 3px;
            vertical-align: top;
            color: #fff;
          }
          .ci-meet {
            background:url("../../img/icon/meet-icon-nav.png") no-repeat;
            background-size: contain;
            display:block;
            height:18px;
            width:24px;
            margin: 2px auto 0;
          }
          .ci-line {
            background:url("../../img/icon/line-icon-nav.png") no-repeat;
            background-size: contain;
            display:block;
            height:14px;
            width:14px;
            margin: 1px auto 4px;
          }
          &:hover {
            cursor: pointer;
            background: #5da5d8;
          }
          &:last-child {
            border: none;
            margin-right: 0;
          }
        }
        .btn-nav-map {
          min-width: 60px;
          float: left;
          .btn-active,
          .btn-inactive {
            height: 36px;
            padding: 3px 17px;
            margin-right: 1px;
            min-width: 60px;
            border-right: 1px solid #fff;
            border-left: none;
            border-top: none;
            border-bottom: none;
            color: #fff;
            border-radius: 0;
            /*border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;*/
            .navigation-icon {
              display: block;
              line-height: 1;
              font-size: 16px;
            }
            .navigation-text {
              font-size: 12px;
              line-height: 12px;
              display: block;
              margin-top: 3px;
              vertical-align: top;
              color: #fff;
            }
          }
        }
        .profile-dropdown > .btn:first-child {
          border: none;
          margin-right: 0;
        }
        #btn_meet {
          bottom: 0 !important;
          right: 0 !important;
        }
        .profile-dropdown:hover .dropdown-menu {
          display: block;
        }

        .notify {
          font-family: "ProximaNovaRegular";
          font-size: 12px;
          padding-top: 2px;
          background: #f95e65;
          border-radius: 20px;
          border: 1px solid;
          margin-top: -3px;
          position: absolute;
          margin-left: -10px;
          text-align: center;
          width: 21px;
          height: 21px;
          position: absolute;
          top: -5px;
          right: 10px;
        }
        .disable{
          display: none;
        }
      }
    }
    #btn_my_location_old {
      width: 36px;
      position: absolute;
      top:11px;
      right: 20px;
      display: block;
      z-index: 99999;
      cursor: pointer;
      text-align: center;
      i{
        background: #5888ac;
        color: #fff;
        font-size: 20px;
        text-align: center;
        height: 26px;
        width: 24px;
        padding-top: 3px;
        border-radius: 50%;
        margin: auto;
      }
      span{
        color: #5888ac;
        font-weight: 600;
      }
      &.active {
        i {
          background: #5da5d8;
        }
        span {
          color: #5da5d8;
        }
      }
    }

    #btnCenterLocation {
      background: #fff;
      border: 1px solid #5888ac;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 31px;
      width: 31px;
      position: absolute;
      top: 11px;
      right: 20px;
      text-align: center;
      z-index: 99999;
      i{
        border: 1px solid #5888ac;
        border-radius: 50%;
        color: #5888ac;
        font-size: 16px;
        height: 20px;
        width: 20px;
        margin: 4px;
        padding: 1px 1px 0 0;
        text-align: center;
      }
    }
  }

  #btn_meet {
    right: 10px;
    top: 1px;
  }
  #btn_meet,#btn_discover{
    display: none;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 10000;
    // background-color: #5486b0;
    // border-color: #426c8f;
    // border-radius: 100%;
    // top: 80%;
    // left: 90%;
    cursor: pointer;
    &.deactive{
      z-index: 100;
    }
    span{
      text-align: center;
      color: white;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle;
    }
    img{
      width: 80px;
      height: 80px;
    }
    &.active{
      z-index: 999999 !important;
    }
  }
}
.map-marker-label {
  min-width: 100px;
  width: auto;
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  color: #1d1d1d;
  font-family: "ProximaNovaRegular";
  margin-top: -30px;
  span {
    font-family: "ProximaNovaBold";
  }
}

