#modal_meet{
    height: auto;
    top: 80px;
    overflow-y: hidden;
    display: none;
    .modal-dialog{
        width: 450px;
        max-height: 580px;
        min-height: 300px;
        margin: auto;
        border-radius: 5px;
        box-shadow: 1px 3px 5px 2px rgba(136, 136, 136, 0.38);
    }
    .modal-content{
        max-height: 620px;
        min-height: 300px;
        background: #e2e3e4;
    }
    .modal-header{
        padding: 0;
        // height: 40px;
        width: 100%;
        background: #265c7f;
        box-shadow: 0px 3px 5px #888;
        border: none;
        display: block;
        .head{
            height: 46px;
            .name_modal{
                width: 20%;
                padding: 5px;
                float: left;
                p{
                    color: #eee;
                    font-size: 18px;
                    font-weight: 600;
                    margin: 0;
                    padding: 5px;
                    text-align: center;
                }
            }
            .name_user{
                width: 60%;
                color:#fff;
                font-size: 25px;
                margin: auto;
                p{
                    text-align: center;
                    padding: 5px;
                    margin: 0;
                    font-weight: bold;
                }
                .default{
                    display: none;
                }
            }
        }
        
        .sidebar{
            width: 100%;
            background: #5486b0;
            display: block;
            // position: fixed;
            top: 40px;
            z-index: 20;
            .title{
                color: #eee;
                font-size: 14px;
                padding: 10px;
                // display: table-cell;
                // vertical-align: middle;
                float: left; 
            }
            .filter_sidebar{
                color: #eee;
                border-radius: 15px;
                padding: 7px;
                border-collapse: separate;
                margin: auto;
                width: 70%;
                td{ 
                    width: 60px;
                    font-size: 10px;
                    border: 1px solid #eee;
                    padding: 5px;
                    cursor: pointer;
                    text-align: center;
                    &.active{
                       background: #8FB2D0; 
                    }
                }
                td:first-child{
                    border-right: none;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
                td:last-child{
                    border-left: none;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }
        }
    }
    .modal-body{
        overflow-y: auto;
        max-height: 530px;
        min-height: 300px;
        width: 100%;
        padding: 0;
        #meeting{
            p.no_data{
                margin: 10px;
                display: none;
                text-align: center;
                color: #000;
            }
            .user_item{
                .avatar-image{
                    width: 100%;
                    height: auto;
                    img{
                        width: 275px;
                        height: 275px;
                        display: block;
                        margin: auto;
                    }
                }
                .box-infomation{
                    width: 90%;
                    height: 150px;
                    padding: 10px 10px 0px 10px;
                    margin: 25px auto 10px;
                    overflow-y: auto;
                    background: #fff;
                    position: relative;
                    table{
                        margin: 0;
                        td{
                            border: none;
                            padding: 0 5px;
                        }
                        .title{
                            font-weight: bold;
                        }
                        .text{
                            padding: 0 5px 0 40px;
                            span{
                                cursor: pointer;
                                margin-right: 5px;
                                text-decoration: underline;
                                color: #4141BD;
                                display: block;
                                float: left;
                            }
                        }
                    }
                    .brillant{
                        width: 40px;
                        position: absolute;
                        top: 5px;
                        right: 0;
                        .count{
                            width: 40px;
                            background: url('../../img/icon/brilliant_on.png') no-repeat;
                            background-size: 40px 35px;
                            display: block;
                            span{
                                display: block;
                                text-align: center;
                                font-size: 10px;
                                padding: 14px 0 5px 0;
                            }
                        }
                        p{
                            font-size: 10px;
                            text-align: center;
                        }
                    }
                }
            }
            .control-btn{
                width: 90%;
                margin: 15px auto;
                color: #fff;
                display: none;
                .met{
                    display: none;
                }
                .back,.next,.meet,.met{
                    cursor: pointer;
                    box-shadow: 4px 4px 5px #888;
                    &.disable{
                        opacity: 0.8;
                        cursor: default;
                    }
                }
                .back{
                    float: left;
                }
                .next{
                    float: right;
                }
                .back,.next{
                    width: 30%;
                    border: 1px solid #D07B41;
                    background: #f1904d;
                    padding: 5px;
                    border-radius: 10px;
                    .fa{
                        font-size: 18px;
                    }
                    
                    
                }
                .meet,.met{
                    width: 35%;
                    margin: auto;
                    border: 1px solid #48A24A;
                    background: #49b14c;
                    padding: 5px 14px;
                    border-radius: 10px;
                    .fa{
                        font-size: 25px;
                    }
                    img{
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                    }
                    span{
                        font-size: 25px;
                        padding: 0;
                        font-weight: bold;  
                        display: block;
                        text-align: center;    
                    }
                }
                span{
                    font-size: 25px;
                    padding: 0 10px;
                    font-weight: bold;      
                }
            }
        }

        #meet_setting{
            width: 90%;
            margin: auto;
            display: none;
            overflow-y: auto;
            .show_me{
                width: 90%;
                background: #fff;
                margin: auto;
                p{
                    margin: 0;
                    padding: 20px 10px;
                    font-weight: 500;
                }
                .radio_gender{
                    width: 90%;
                    margin: auto;
                    padding-bottom: 15px;
                    text-align: center;
                    label{
                        font-weight: 500;
                        cursor: pointer;
                    }
                    label[for=all]{
                        width: 56px;
                    }
                    label[for=male]{
                        width: 70px;
                    }
                    label[for=female]{
                         width: 90px;
                    }
                    input[type=radio]{
                        display: none;
                    }
                    input[type=radio] + label{
                        // width: 50px;
                        height: 20px;
                        display: inline-block;
                        background: url('../../img/btn/dark_checkbox.png') no-repeat;
                        background-size: 20px;
                        // background-attachment: absolute;
                        background-position: 0px 0px; 
                        text-align: center;
                    }
                    input[type=radio]:checked + label{
                        height: 20px;
                        display: inline-block;
                        background: url('../../img/btn/dark_checked.png') no-repeat;
                        // background-attachment: absolute;
                        background-position: 0px 0px; 
                        background-size: 20px;
                        text-align: center;
                    }
                }
            }
            .search_area{
                width: 90%;
                background: #fff;
                margin: 10px auto;
                padding-bottom: 20px;
                p{
                    margin: 0;
                    padding: 10px;
                    font-weight: 500;
                }
                .head{
                    width: 100%;
                    height: 40px;
                    display: block;
                    margin: 10px auto  ;  
                    .title{
                    float: left;
                    }
                    .value{
                        float: right;
                    }
                }
                #circles-slider-area.ui-slider {
                    border-radius: 20px;
                    background: #265c7f;
                    border: none;
                    height: 10px;
                    margin: 5px 25px;
                }
                #circles-slider-area {
                    .ui-state-hover,.ui-state-focus{
                        background: #fff;
                    }
                    .ui-slider-handle {
                        border-radius: 23px;
                        height: 23px;
                        width: 23px;
                        top: -7px;
                        margin-left: -11px;
                        border: 2px solid #265c7f;
                        outline: none;
                        // background: #265c7f;
                    }
                    .ui-slider-pip {
                        top: 3px;
                        .ui-slider-line {
                            width: 4px;
                            height: 4px;
                            border-radius: 4px;
                            margin-left: -2px;
                            background: #fffaf7;
                        }
                    }
                    .ui-slider-pip.ui-slider-pip-first {
                        .ui-slider-label {
                            left: -2em;
                            text-align: right;
                        }
                    }
                    .ui-slider-pip.ui-slider-pip-last {
                        .ui-slider-label {
                            left: 2em;
                            text-align: left;
                        }
                    }
                    .ui-slider-pip.ui-slider-pip-selected-initial {
                        font-weight: normal;
                    }
                    .ui-slider-pip.ui-slider-pip-selected {
                        font-weight: bold;
                    }
                }
                #circles-slider-area .ui-slider-pip.ui-slider-pip-last,#circles-slider-area .ui-slider-pip.ui-slider-pip-first {
                    top: -7px;
                }
                #circles-slider-area .ui-slider-pip.ui-slider-pip-last .ui-slider-line,#circles-slider-area .ui-slider-pip.ui-slider-pip-first .ui-slider-line {
                    display: none;
                }
                #circles-slider-area .ui-slider-pip.ui-slider-pip-last .ui-slider-label,#circles-slider-area .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
                    margin: 0;
                }
            }
            .search_age{
                width: 90%;
                background: #fff;
                margin: 10px auto;
                padding-bottom: 20px;
                p{
                    margin: 0;
                    padding: 10px;
                    font-weight: 500;
                }
                .head{
                    width: 100%;
                    height: 40px;
                    display: block;
                    margin: 10px auto  ;  
                    .title{
                    float: left;
                    }
                    .value{
                        float: right;
                    }
                }
                #circles-slider-age.ui-slider {
                    border-radius: 20px;
                    background: #265c7f;
                    border: none;
                    height: 10px;
                    margin: 5px 25px 25px;
                }
                #circles-slider-age {
                    .ui-state-hover,.ui-state-focus{
                        background: #fff;
                    }
                    .ui-slider-handle {
                        border-radius: 23px;
                        height: 23px;
                        width: 23px;
                        top: -7px;
                        margin-left: -11px;
                        border: 2px solid #265c7f;
                        outline: none;
                        // background: #265c7f;
                    }
                    .ui-slider-pip {
                        top: 3px;
                        .ui-slider-line {
                            width: 4px;
                            height: 4px;
                            border-radius: 4px;
                            margin-left: -2px;
                            background: #fffaf7;
                        }
                    }
                    .ui-slider-pip.ui-slider-pip-first {
                        .ui-slider-label {
                            left: -2em;
                            text-align: right;
                        }
                    }
                    .ui-slider-pip.ui-slider-pip-last {
                        .ui-slider-label {
                            left: 2em;
                            text-align: left;
                        }
                    }
                    .ui-slider-pip.ui-slider-pip-selected-initial {
                        font-weight: normal;
                    }
                    .ui-slider-pip.ui-slider-pip-selected {
                        font-weight: bold;
                    }
                }
                #circles-slider-age .ui-slider-pip.ui-slider-pip-last,#circles-slider-age.ui-slider-pip.ui-slider-pip-first {
                    top: -7px;
                }
                #circles-slider-age .ui-slider-pip.ui-slider-pip-last .ui-slider-line,#circles-slider-age .ui-slider-pip.ui-slider-pip-first .ui-slider-line {
                    display: none;
                }
                #circles-slider-age .ui-slider-pip.ui-slider-pip-last .ui-slider-label,#circles-slider-age .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
                    margin: 0;
                }
            }
            .btn-control{
                width: 90%;
                margin: auto;
                .cancel{
                    width: 45%;
                    float: left;
                    background: #f1904d;
                    border-radius: 20px;
                    border: 1px solid #d07b41;
                    color: #fff;
                    cursor: pointer;
                    p{
                        margin: 0;
                        text-align: center;
                        padding: 10px 5px;
                    }
                    &.disable{
                        opacity: 0.6;
                        cursor: default;
                    }
                }
                .save{
                    width: 45%;
                    float: right;
                    border: 1px solid #48a24a;
                    background: #49b14c;
                    color: #fff;
                    text-align: center;
                    border-radius: 20px;
                    padding: 10px 5px;
                    cursor: pointer;
                    .fa{
                        font-size: 18px;
                    }
                    &.disable{
                        opacity: 0.6;
                        cursor: default;
                    }
                }
            }
        }

        #user_setting{
            width: 90%;
            height: auto;
            background:#fff;
            margin: auto;
            margin-bottom: 80px;
            // padding-bottom: 20px;
            display: none;
            .user_avatar{
                width: 200px;
                height: 200px;
                margin: auto;
                position: relative;
                background: #e6e6e6;
                display: table;
                .img_user{
                    height: auto;
                    max-width: 200px;
                    max-height: 200px;
                    width: auto;
                    text-align: center;
                    vertical-align: middle;
                    display: table-cell;
                    img{
                        margin: auto;
                        max-width: 200px;
                        width: auto;
                        height: auto;
                        max-height: 200px;
                    }
                }
                .change_avatar{
                    width: 30px;
                    height: 30px;
                    top: 170px;
                    left: 170px;
                    position: absolute;
                    background: rgba(255, 255, 255, 0.3);
                    cursor: pointer;
                    .fa{
                        font-size: 30px;
                        color: #fff;
                        text-align: center;
                        display: block;
                        cursor: pointer;
                    }
                }
            }
            .user_information{
                // margin: 20px;
                padding: 20px;
                .field_info{
                    margin: 10px 0;
                    p{
                        font-weight: bold;
                        border-bottom: 1px solid;
                    }

                    input{
                        border-radius: 7px;
                        border: 1px solid #eee;
                        outline: none;
                        text-align: left;
                        padding: 0 10px;
                    }
                    textarea{
                        width: 100%;
                        height: 100px;
                        border-radius: 7px;
                        border: 1px solid #eee;
                        outline: none;
                        resize: none;
                    }
                    .birthday{
                        width: 110px;
                         text-align: center;
                    }
                    .zip_code{
                        width: 70px;
                        text-align: center;
                    }
                    .work{
                        width: 100%;
                    }
                    &.alert_validate{
                        p{
                            color: red;
                        }
                        input{
                            border: 1px solid red;
                        }
                        span{
                            font-size: 10px;
                            color: red;
                        }
                    }
                }
            }
            .btn-control{
                padding: 0 10px;
                margin: 10px 0;
                .cancel{
                    width: 45%;
                    float: left;
                    background: #f1904d;
                    border-radius: 20px;
                    border: 1px solid #d07b41;
                    color: #fff;
                    cursor: pointer;
                    p{
                        margin: 0;
                        text-align: center;
                        padding: 10px 5px;
                    }
                    &.disable{
                        opacity: 0.6;
                        cursor: default;
                    }
                }
                .save{
                    width: 45%;
                    float: right;
                    border: 1px solid #48a24a;
                    background: #49b14c;
                    color: #fff;
                    text-align: center;
                    border-radius: 20px;
                    padding: 10px 5px;
                    cursor: pointer;
                    .fa{
                        font-size: 18px;
                    }
                    &.disable{
                        cursor: default;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}
#modal_change_avatar{
    width: 400px;
    z-index: 1070;
    margin: auto;
    .modal-dialog{
        top: 100px;
        width: 80%;
        margin: auto;
    }
    .image-preview{
        width: 150px;
        height: 150px;
        margin: auto;
        border: 1px dashed #888;
        overflow: hidden;
        display: table;
        p{
            text-align: center;
            margin: 0;
            line-height: 135px;
        }
        .preview_img{
            height: auto;
            max-width: 150px;
            max-height: 150px;
            width: auto;
            text-align: center;
            vertical-align: middle;
            display: none;
            &.active{
                display: table-cell;
            }
            img{
                margin: auto;
                max-width: 150px;
                width: auto;
                height: auto;
                max-height: 150px;
            }
        }
    }
    .btn-control-modal{
        margin-top: 15px ;
        .cancel{
            width: 30%;
            float: left;
            background: #f1904d;
            border-radius: 20px;
            border: 1px solid #d07b41;
            color: #fff;
            cursor: pointer;
            p{
                margin: 0;
                text-align: center;
                padding: 5px;
            }
        }
        .save{
            width: 30%;
            float: right;
            border: 1px solid #48a24a;
            background: #49b14c;
            color: #fff;
            text-align: center;
            border-radius: 20px;
            padding: 5px;
            cursor: pointer;
            .fa{
                font-size: 18px;
            }
            &.disable{
                opacity: 0.6;
                cursor: default;
            }
        }
        .browse{
            width: 30%;
            margin: 0 auto;
            border: 1px solid #48a24a;
            background: #49b14c;
            color: #fff;
            text-align: center;
            border-radius: 20px;
            padding: 5px;
            cursor: pointer;
            p{
                margin: 0;
            }
            input{
                display: none;
                // visibility: hidden;
            }
        }
    }
}  