#modal_password_setting{
  height: auto;
  top: 70px;
  overflow: visible;
  display: none;
  margin: auto;
  .modal-dialog{
    width: 725px;
    max-height: 525px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 2px rgba(136,136,136,0.38);
  }
  .modal-content{
    background-color: #ffffff;
    max-height: 525px;
    border-radius: 4px;
    border: none;
  }
  .modal-body{
    padding: 0;
    height: 485px;
    .form-password-setting{
      margin: 70px auto;
      width: 335px;

      .field-name{
        margin: 0 0 15px;
      }
      p.title{
        font-family: "ProximaNovaRegular";
        font-size: 14px;
        font-weight: bold;
        color: #1b1b1b;
        margin: 0 0 5px;
        outline: none;

      }
      input{
        font-size: 16px;
        color: #1d1b1b;
        box-shadow: none;
        outline: none;
        &:focus{
          border-color: #5da5d8;
          box-shadow: none;
        }
      }

      ::-webkit-input-placeholder {
        font-size: 16px;
      }

      :-moz-placeholder { /* Firefox 18- */
        font-size: 16px;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        font-size: 16px;
      }

      :-ms-input-placeholder {
        font-size: 16px;
      }

      .btn-control{
        margin-top: 26px;
        .reset,
        .update{
          font-family: "ProximaNovaRegular";
          background: #5888ac;
          border-radius: 5px;
          cursor: pointer;
          border:1px solid #fff;
          box-shadow: 0 0 1px 1px #e0e0e0;
          height: 38px;
          width: 110px;
          p{
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            line-height: 38px;
          }
          &.disable{
            opacity: 0.6;
          }
        }
      }

    }
  }
}