#create_post{
    height: auto;
    top: 120px;
    overflow-y: hidden;
    .modal-dialog{
        width: 450px;
        max-height: 600px;
        min-height: 300px;
        margin: auto;
        border-radius: 5px;
        box-shadow: 1px 3px 5px 2px rgba(136, 136, 136, 0.38);
    }
    .modal-content{
        max-height: 620px;
        min-height: 300px;
        background: #e2e3e4;
    }
    .modal-header{
        padding: 0;
        // height: 40px;
        width: 100%;
        background: #265c7f;
        box-shadow: 0px 3px 5px #888;
        border: none;
        display: block;
        .head{
            height: 45px;
            .name_user{
                width: 60%;
                color:#fff;
                font-size: 25px;
                margin: auto;
                p{
                    text-align: center;
                    padding: 5px;
                    margin: 0;
                    font-weight: bold;
                }
                .default{
                    display: none;
                }
            }
            .back_page{
                padding: 10px;
                width: 15%;
                float: left;
                cursor: pointer;
                img{
                    width: 25px;
                }
                i{
                    font-size: 25px;
                    color: #eee;
                }
            }
        }
    }
    .modal-body{
        overflow-y: auto;
        max-height: 530px;
        min-height: 300px;
        width: 100%;
        padding: 0;
        #create_topic{
            width: 90%;
            margin: auto;
            .topic{
                width: 100%;
                padding: 10px 15px;
                background: #fff;
                box-shadow: 0px 3px 5px #888;
                border: none;
                margin-bottom: 10px;
                .name_topic{
                    width: 80%;
                }
            }
            .post{
                width: 100%;
                padding: 10px 15px;
                background: #fff;
                box-shadow: 0px 3px 5px #888;
                border: none; 
                .input-group{
                    width: 80%;
                    border-radius: 5px;
                    border: 1px solid #eee;
                    margin-bottom: 10px;
                    .input-group-addon{
                        padding: 0 3px;
                        background: #fff;
                        border: none;
                        font-weight: bold;
                    }
                    input{
                        border: none;
                        padding: 0;
                        width: 100%
                    }
                }
                textarea.message{
                    width: 90%;
                    border: 1px solid #eee;
                    height: 100px;
                    outline: none;
                }
            }

            .btn-control{
                width: 100%;
                margin: 10px auto;
                float: left;
                .cancel{
                    width: 40%;
                    float: left;
                    background: #265c7f;
                    border-radius: 10px;
                    border: 1px solid #245879;
                    color: #fff;
                    cursor: pointer;
                    p{
                        margin: 0;
                        text-align: center;
                        padding: 10px 5px;
                    }
                    &.disable{
                        opacity: 0.6;
                        cursor: default;
                    }
                }
                .save{
                    width: 40%;
                    float: right;
                    border: 1px solid #245879;
                    background: #265c7f;
                    color: #fff;
                    text-align: center;
                    border-radius: 10px;
                    padding: 10px 5px;
                    cursor: pointer;
                    .fa{
                        font-size: 18px;
                    }
                    &.disable{
                        opacity: 0.6;
                        cursor: default;
                    }
                }
            }
            textarea{
                font-size: 12px;
                resize: none;
            }
            p{
                font-weight: bold;
            }
            input{
                font-size: 12px;
                border-radius: 7px;
                border: 1px solid #eee;
                outline: none;
                text-align: left;
                padding: 0 10px;
            }
        }
    }
}

#list_post{
    height: auto;
    top: 90px;
    overflow: visible;
    display: none;
    width: 725px;
    margin: auto;
    .modal-dialog{
        width: 725px;
        min-height: 250px;
        margin: auto;
        border-radius: 5px;
        box-shadow: 1px 3px 5px 2px rgba(136, 136, 136, 0.38);
    }
    .modal-content{
        background: #e2e3e4;
        border:none;
    }
    .modal-header{
        padding: 0;
        width: 100%;
        background: #5888ac;
        box-shadow: 0px 3px 5px #888;
        border: none;
        display: block;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .header{
            background: #5888ac;
            padding: 0 5px 3px;
            width: 100%;
            height: 40px;
            border-bottom: 1px solid #fff;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            .back_page{
                width: 95px;
                height: 40px;
                float: left;
                border-right: 1px solid #fff;
                cursor: pointer;
                img{
                    width: 25px;
                }
                span{
                    font-size: 18px;
                    color: #fff;
                    text-align: center;
                    display: block;
                    line-height: 40px;
                }
                i{
                    font-size: 18px;
                    color: #fff;
                }
            }
            .title_page{
                width: 475px;
                height: 40px;
                border-right: 1px solid #fff;
                float: left;
                img{
                    width: 25px;
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
                .title{
                    color: #fff;
                    display: inherit;
                    text-align: center;
                    font-size: 22px;
                    line-height: 40px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .create_post{
                float: left;
                width: 140px;
                height: 40px;
                cursor: pointer;
                font-size: 18px;
                span{
                    color: #fff;
                    font-size: 18px;
                    display: block;
                    text-align: center;
                    line-height: 40px;
                    i{
                        color: #fff;
                    }
                }
            }
        }
        
        .sidebar{
            width: 100%;
            background: #5888ac;
            display: table;
            z-index: 20;
            .dropdown{
                float: right;
                width: 20%;
                padding: 10px 15px 10px 0px;
                cursor: pointer;
                .dropdown-toggle{
                    width: 160px;
                    height: 34px;
                    background: #fff;
                    padding: 8px;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                .input-group-addon{
                    border: none;
                    border-top-right-radius:  4px;
                    border-bottom-right-radius: 4px;
                }
                .dropdown-menu{
                    padding: 5px;
                    top: 42px;
                    left: 0px;
                    width: 193px;
                    li{
                        cursor: pointer;
                    }
                }
                select{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    text-indent: 0.01px;
                }
                .form-control{
                    padding: 0;
                    font-size: 14px;
                    width: 100%;
                    height: 30px;
                }
                &.visible{
                    visibility: hidden;
                }
            }
            .title{
                color: #eee;
                font-size: 14px;
                padding: 10px ;
                // display: table-cell;
                // vertical-align: middle;
                width: 20%;
                float: left; 
            }
            .filter_sidebar{
                color: #eee;
                border-radius: 4px;
                padding: 10px 5px;
                border-collapse: separate;
                margin: auto;
                width: 200px;
                td{ 
                    width: 50px;
                    font-size: 18px;
                    border: 1px solid #eee;
                    padding: 5px;
                    cursor: pointer;
                    text-align: center;
                    &.active{
                       background: #5da5d8; 
                    }
                }
                td:first-child{
                    border-right: none;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                td:last-child{
                    border-left: none;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }
    .modal-body,.container_post{
        overflow-y: auto;
        max-height: 410px;
        min-height: 300px;
        width: 100%;
        padding: 0;
        height: auto;
        border-radius: 4px;
        .tab{
            width: 100%;
            height: auto;
            display: none;
            .no-data{
                text-align: center;
                font-size: 16px;
                padding-top: 20px;  
            }
        }
        #filter_post,#filter_view,#filter_brilliant{
            width: 100%;
            float: left;
            display: none;
            .item_post{
                background: #fff;
                width: 100%;
                height: auto;
                border-bottom: 1px solid #e3e3e3;
                float: left;
                .users_avatar{
                    width: 170px;
                    height: 170px;
                    padding: 15px;
                    max-width: 170px;
                    max-height: 170px;
                    float: left;
                    display: table;
                    position: relative;
                    .image{
                        height: 152px;
                        // max-width: 150px;
                        // max-height: 150px;
                        width: 152px;
                        text-align: center;
                        vertical-align: middle;
                        display: table-cell;
                        border: 1px solid #f2f2f2;
                        background: #e6e6e6;
                        img{
                            margin: auto;
                            max-width: 150px;
                            width: auto;
                            height: auto;
                            max-height: 150px;
                        }
                    }
                    .icon_brillant{
                        width: 46px;
                        height: 42px;
                        top: 15px;
                        right: 15px;
                        position: absolute;
                        cursor: pointer;
                        .count{
                            width: 100%;
                            height: 42px;
                            background: url('../../img/icon/brilliant-icon-large.png') no-repeat center;
                            background-size: 50px 45px;
                            display: block;
                            text-align: center;
                            font-size: 12px;
                            line-height: 50px;
                            // padding: 8px 0 3px;
                            color: #fff;
                            font-family: 'Verdana, Sans-serif';
                            p{
                                color: #fff;
                                text-align: center;
                                font-size: 8px;
                                padding: 5px 0 5px 0;
                            }
                            &.disable{
                                background: url('../../img/icon/brilliant-icon-large-zero-state.png') no-repeat center;
                                background-size: 50px 45px;
                            }
                        }
                        p{
                            font-size: 8px;
                            text-align: center;
                            width: 100%;
                            margin: 0;
                            padding: 3px 0;
                        }
                    }
                }
                .information{
                    width: 540px;
                    float: left;
                    padding: 10px 10px 10px 0;
                    p{
                        width: 100%;
                        word-wrap: break-word;
                    }
                    .post_name{
                        font-size: 18px;
                        color: #5888ac;
                        font-weight: bold;
                        margin: 0 0 3px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: inline-block;
                        max-width: 540px;
                        cursor: pointer;
                        &::before{
                            content:"#";
                        }
                    }
                    .post_massage{
                        font-size: 14px;
                        color: #1d1b1b;
                        margin: 0px;
                        width: 100%;
                        word-wrap: break-word;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                        // white-space: nowrap;
                        .show_more{
                            color: #337ab7;
                            cursor: pointer;
                        }
                    }
                    .post_chat{
                        color: #5888ac;
                        font-size: 16px;
                        cursor: pointer;
                        float: right;
                        i{
                            margin-right: 4px;
                        }
                        &:hover{
                            color: #5da5d8;
                        }
                    }
                }
            }
        }
    }
}