#signup{
    height: auto;
    top: 90px;
    overflow: visible;
    display: none;
    width: 500px;
    margin: auto;
    .modal-dialog{
        width: 500px;
        min-height: 250px;
        margin: auto;
        border-radius: 5px;
        box-shadow: 1px 3px 5px 2px rgba(136, 136, 136, 0.38);
    }
    .modal-content{
        background: #fff;
        border:none;
    }
    .modal-header{
        padding: 0;
        width: 100%;
        background: #fff;
        // box-shadow: 0px 3px 5px #888;
        border: none;
        display: block;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .header{
            background: #fff;
            padding: 10px;
            width: 100%;
            height: 45px;
            border-bottom: 1px solid #fff;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            p{
                margin: 0 15px;
                line-height: 45px;
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
    .modal-body{
        overflow-y: auto;
        max-height: 550px;
        min-height: 300px;
        width: 100%;
        padding:0;
        height: auto;
        border-radius: 4px;
        overflow-x: hidden;
        .form-register{
            padding:15px;
            p{
                margin: 0 0 5px;
                font-size: 16px;
                font-weight: bold;
            }
            input{
                height: 45px;
            }
            .field-name{
                margin: 0 0 15px;
                .forgot-password{
                    text-align: right;
                    display: block;
                }
            }
            .col-field-name{
                margin: 0 0 15px;
                width: 225px;
                float: left;
                input{
                    width: 100%;
                }
                &:nth-of-type(odd) {
                    margin-right: 20px;
                }
                &:nth-of-type(even) {
                }
                .dropdown-menu{
                    width: 185px;
                    padding: 10px;
                }
                &.sex{
                    width: 195px;
                    margin-left: 15px;
                }
            }
            ::-webkit-input-placeholder {
               font-size: 15px;
            }

            :-moz-placeholder { /* Firefox 18- */
               font-size: 15px;
            }

            ::-moz-placeholder {  /* Firefox 19+ */
               font-size: 15px;
            }

            :-ms-input-placeholder {
               font-size: 15px;
            }
        }
        .btn-control{
            background: #5888ac;
            border-radius: 5px;
            height: 40px;
            width: 100%;
            float: left;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            p{
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                line-height: 40px;
            }
            &.disable{
                opacity: 0.6;
            }
        }
        .sign-in{
            width: 100%;
            float: left;
            margin-top: 20px;
            p{
                font-size: 20px;
                text-align: center;
            }
            b{
                color: #337ab7;
                cursor: pointer;
            }
        }
    }
}