.modal-backdrop.in{
    opacity: 0;
    &.active{
        opacity: 0.5;
        z-index: 1060;
    }
}
#modal_topic{
    height: auto;
    max-height: 500px;
    min-height: 300px;
    top: 120px;
    overflow-y: hidden;
    .modal-dialog{
        width: 60%;
        min-width: 700px;
        height: auto;
        max-height: 500px;
        min-height: 300px;
        margin: auto;
        background: rgba(192, 222, 156, 0.66);
        border-radius: 5px;
        box-shadow: 1px 3px 5px 2px rgba(136, 136, 136, 0.38);
    }
    .modal-content{
        background: rgba(192, 222, 156, 0.66);
    }
    .modal-header{
        padding: 0;
        height: 40px;
        width: 100%;
        background: #49b14c;
        box-shadow: 0px 3px 5px #888;
        border: none;
        .name_modal{
            width: 20%;
            padding: 9px;
            float: left;
            span{
                color: #eee;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .filter_option{
            width: 60%;
            // padding: 9px;
            // display: inline-block;
            float: left;
            .filter_sidebar{
                width: 230px;
                color: #eee;
                border-radius: 15px;
                padding:5px 5px 0 0;
                border-collapse: separate;
                // display: table-cell;
                vertical-align: middle;
                margin: auto;
                td{ 
                    font-size: 12px;
                    border: 1px solid #eee;
                    padding: 5px;
                    cursor: pointer;
                    text-align: center;
                    &.active{
                       background: #ea9b78; 
                    }
                }
                td:first-child{
                    border-right: none;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
                td:last-child{
                    border-left: none;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }
        }
        .create_topic{
            width: 19%;
            float: left;
            background: #89c642;
            padding: 5px 0px 5px 0px;
            border-radius: 15px;
            border: 1px solid #fff;
            margin: 3px 0 0 0px;
            cursor: pointer;
            span{
                font-weight: bold;
                color: #eee;
                font-size: 15px;
                display: block;
                text-align: center;
            }
        }
    }
    .modal-body{
        overflow-y: auto;
        height: auto;
        min-height: 300px;
        max-height: 450px;
        width: 100%;
        padding: 0;
        #item_list_post,#item_list_view,#item_list_topic{
            display: none;
            .no-data{
                text-align: center;
                font-size: 16px;
                padding-top: 20px;
                display: none;
            }
            .item{
                background: #fff;
                width: 90%;
                height: 70px;
                margin: 10px auto 10px;
                border: 1px solid #eee;
                box-shadow: -1px 4px 10px rgba(136,136,136,0.5);
                
                .topic_post{
                    width: 70%;
                    float: left;
                    overflow: hidden;
                    .name_topic{
                        font-size: 16px;
                        max-width: 30%;
                        padding: 5px 10px 5px 15px;
                        p,span{
                            cursor: pointer;
                            display: inline-block;
                            min-width: 10%;
                            margin: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .name_post{
                        font-size: 15px;
                        font-weight: 200;
                        width: 80%;
                        padding: 0px 6px 5px 30px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        p,span{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin-right: 3px;
                            min-width: 5%;
                            max-width: 20%;
                            display: block;
                            float: left;
                        }
                        .more{
                            font-size: 12px;
                            color: #615BAD;
                            margin-left: 10px;
                            max-width: 35%;
                            line-height: 2;
                        }
                    }
                }
                
                .time_ago{
                    width: 18%;
                    float: left;
                    margin: 10px 0 5px 5px;
                    img{
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                    span{
                        font-size: 12px;
                        width: 70px;
                        display: block;
                        margin: auto;
                    }
                }
                .num_count{
                    width: 10%;
                    float: left;
                    margin-top: 5px;
                    .most_post{
                        width: 30px;
                        height: 30px;
                        background: #f9ad80;
                        border-radius: 100%;
                        margin: auto;
                        display: table;
                        p{
                            font-size: 12px;
                            font-weight: bold;
                            color: #eee;
                            margin: 0;
                            text-align: center;
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                    p{
                        font-size: 12px;
                        text-align: center;
                        margin: 0;
                    }
                }
                
            }
        }
    }
}

#create_topic{
    height: auto;
    top: 120px;
    overflow-y: hidden;
    .modal-dialog{
        width: 450px;
        max-height: 600px;
        min-height: 300px;
        margin: auto;
        border-radius: 5px;
        box-shadow: 1px 3px 5px 2px rgba(136, 136, 136, 0.38);
    }
    .modal-content{
        max-height: 620px;
        min-height: 300px;
        background: #e2e3e4;
    }
    .modal-header{
        padding: 0;
        // height: 40px;
        width: 100%;
        background: #265c7f;
        box-shadow: 0px 3px 5px #888;
        border: none;
        display: block;
        .head{
            height: 45px;
            .name_user{
                width: 60%;
                color:#fff;
                font-size: 25px;
                margin: auto;
                p{
                    text-align: center;
                    padding: 5px;
                    margin: 0;
                    font-weight: bold;
                }
                .default{
                    display: none;
                }
            }
            .back_page{
                padding: 10px;
                width: 15%;
                float: left;
                cursor: pointer;
                img{
                    width: 25px;
                }
                i{
                    font-size: 25px;
                    color: #eee;
                }
            }
        }
    }
    .modal-body{
        overflow-y: auto;
        max-height: 530px;
        min-height: 300px;
        width: 100%;
        padding: 0;
        #create_topic{
            width: 90%;
            margin: auto;
            .topic{
                width: 100%;
                padding: 10px 15px;
                background: #fff;
                box-shadow: 0px 3px 5px #888;
                border: none;
                margin-bottom: 10px;
                .name_topic{
                    width: 80%;
                }
            }
            .post{
                width: 100%;
                padding: 10px 15px;
                background: #fff;
                box-shadow: 0px 3px 5px #888;
                border: none; 
                .input-group{
                    width: 80%;
                    border-radius: 5px;
                    border: 1px solid #eee;
                    margin-bottom: 10px;
                    .input-group-addon{
                        padding: 0 3px;
                        background: #fff;
                        border: none;
                        font-weight: bold;
                        padding: 4px;
                    }
                    input{
                        border: none;
                        padding: 0;
                        width: 100%;
                        padding: 3px 0;
                    }
                }
                textarea.message{
                    width: 90%;
                    border: 1px solid #eee;
                    height: 100px;
                    outline: none;
                }
            }

            .btn-control{
                width: 100%;
                margin: 10px auto;
                float: left;
                .cancel{
                    width: 40%;
                    float: left;
                    background: #265c7f;
                    border-radius: 10px;
                    border: 1px solid #245879;
                    color: #fff;
                    cursor: pointer;
                    p{
                        margin: 0;
                        text-align: center;
                        padding: 10px 5px;
                    }
                    &.disable{
                        opacity: 0.6;
                        cursor: default;
                    }
                }
                .save{
                    width: 40%;
                    float: right;
                    border: 1px solid #245879;
                    background: #265c7f;
                    color: #fff;
                    text-align: center;
                    border-radius: 10px;
                    padding: 10px 5px;
                    cursor: pointer;
                    .fa{
                        font-size: 18px;
                    }
                    &.disable{
                        opacity: 0.6;
                        cursor: default;
                    }
                }
            }
            textarea{
                font-size: 12px;
                resize: none;
            }
            p{
                font-weight: bold;
            }
            input{
                font-size: 12px;
                border-radius: 7px;
                border: 1px solid #eee;
                outline: none;
                text-align: left;
                padding: 3px 10px;
            }
        }
    }
}